<%= render "shared/svg" %>

<%= render "shared/nav" %>
<div class="mb--large">
  <div class="test center">
    <h1 class="c-project-header__title">About Heartful.ly</h1>
  </div>
</div>

<div class="c-breaker purple mb--large">
  <div class="test center large pad-lr">
    Making the world a better place — one celebration at a time.
  </div>
</div>

<div class="test pad">
  <div>
    Heartful.ly is a gift registry that empowers couples to fund life changing projects around the world.
  </div>
  <div class="pad">
    <h2>Our Story</h2>
    <p>Heartful.ly’s story begins in a tiny village in Tanzania where I served as a Peace Corps Volunteer. While my community was poor by every standard, they knew better than any how to celebrate life.</p>
    <p>For these celebrations--mainly weddings — we would eat and drink long into the night. Even strangers were welcomed and fed. The heart and generosity of spirit that sustained my community, has influenced the way I celebrate now, too.</p>
    <p>That’s why I created Heartful.ly. I believe that life’s most important moments are the best times to give back. I also believe that when our communities unite around these moments, we have the power and opportunity to do great things.</p>
    <p>Heartful.ly is a platform for you and all compassionate people to share love where it’s needed most.</p>
    <p>xo,<br />
    Kate</p>
  </div>
</div>

<div class="line"></div>

<div class="pad test">  
  <h2>Meet the Team</h2>
  <p>Kate Glantz, Founder and CEO</p>
  <p>Corey Speisman, Technology</p>
</div>

<div class="line"></div>

<div class="pad test">
  <h2>What makes our heart full?*</h2>
  <ul>
    <li>Kindness — It’s a topsy turvy world out there so be nice!</li>
    <li>Impact — We all have a role to play.</li>
    <li>Equality — People are people and love is love.</li>
    <li>Originality — Do you. It’s a lot more fun that way.</li>
  </ul>
  <p>*We also <3 family, friends, and breakfast for dinner.</p>
</div>

<!-- make this into a cta component -->
<div class="c-breaker center">
  <svg class="c-icon c-icon--status"><use xlink:href="#icon-globe"></use></svg>
  <h3 class="roboto large mb">Are you ready to <span style="border-bottom: 1px solid purple;">share the love?</span></h3>
  <button class="c-button c-button--primary">Create a registry</button>
</div>

<%= render "shared/footer" %>
