<%= render "shared/svg" %>

<%= render "shared/nav" %>

<div class="c-breaker gray">
  <div class="test">
    <div class="meta mb--large center">Create A Registry</div>
    <div class="c-card ma" style="max-width:800px;"><!-- TODO: make card a helper instead of a component -->
      <div style="margin: 0 auto 4em auto; font-size: 1.3em; text-align: center;">
        <div class="c-create__step mb">Step 1: Wedding & Registry Details</div>
        <svg class="c-icon c-icon--large" style="fill: #61AFFF;"><use xlink:href="#icon-cake"></use></svg>
        <span class="c-create__line"></span>
        <svg class="c-icon c-icon--large c-icon--gray"><use xlink:href="#icon-globe"></use></svg>
        <span class="c-create__line"></span>
        <svg class="c-icon c-icon--large c-icon--gray"><use xlink:href="#icon-preview"></use></svg>
      </div>

      <!-- form starts here -->
      <form class="stacked skinny ma">

        <label>You and your partner's name</label>
        <div class="help">(James & Sarah)</div>
        <input type="text" class="mb--large stretch">

        <label>Your personalized URL</label>
        <div class="help">(This is the link your guests will visit to see your registry)</div>
        <input type="text" class="mb--large stretch" placeholder="https://heartful.ly/registry/you-and-me">

        <label>Your mailing address</label>
        <div class="help"></div>
        <input type="address" class="mb--large stretch">

        <label>Cover photo</label>
        <div class="help">Suggested dimensions: 1200x800 pixels.</div>
        <input type="file" class="mb--large">

        <label>Couple profile photo</label>
        <div class="help">Suggested dimensions: 600x350 pixels.</div>
        <input type="file" class="mb--large">

        <label>When is the big day?</label>
        <div class="help">An estimate is just fine. You can update this information later.</div>
        <input type="date" class="mb--large">

        <label>How many people are invited?</label>
        <div class="help">An estimate is fine here too.</div>
        <input type="number" class="mb--large">

        <label>Your Story: How did you meet?</label>
        <div class="help">Go on, gush! Share your love story with your friends and family! (___ character limit)</div>
        <textarea class="stretch mb--large"></textarea>

        <label>Your Registry: Why this project?</label>
        <div class="help">Explain why you are passionate about this particular cause or organization. Encourage your guests to support the mission and thank them for their generosity.</div>
        <textarea class="stretch mb--large"></textarea>

        <label>What is your fundraising goal? ($)</label>
        <div class="help">This figure is not binding, nor is there a minimum dollar amount to raise.</div>
        <input type="number" class="mb--large">

        <button class="c-button c-button--primary stretch">Next &rarr;</button>
      </form>

      <%#= render "shared/project-mini" %>
    </div>
  </div>
</div>


<%= render "shared/footer" %>
