<%= render "shared/svg" %>

<%= render "shared/nav" %>
<header class="c-hero c-hero--home">
  <div class="c-hero__container">
    <h1>logo here</h1>
    <h2>Celebrate your big day by making someone else's.</h2>
    <h3>Heartful.ly is a wedding registry for charitable giving.</h3>
    <button class="c-button c-button--primary c-button--big">Create A Registry</button>
    <span>See how it works</span>
  </div>
</header>
<section class="c-home-breaker">
  <h2>How It Works</h2>
  <div class="overlay"></div>
</section>
<%= render "shared/footer" %>
