<p>Hi <%= @user.first_name %>,</p>

<p>
  Welcome to Heartful.ly and congratulations on your engagement!
</p>
<p>
  You’re just a few steps away from sharing the love with those who need it most.
</p>
<br>
<div>
  <ol>
    <li>Login to your Heartful.ly account</li>
    <li>Provide some information about your big day</li>
    <li>Select a project you want to support</li>
    <li>Share your registry with your guests</li>
  </ol>
</div>
<br>
<p>
  You can monitor donations made in your honor in the admin section of your account. We’ll also notify you by email when people contribute to your project.
</p>
<br>
<p>
  About three months after your wedding, you and every guest who donated will receive an impact update with details on how your registry made a difference.
</p>
<br>
<p>Don’t hesitate to let us know if you have any questions.</p>
<br>
<p>Best,</p>
<p>Team Heartful.ly</p>
<p>P.S. You’re awesome!</p>
