<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>

  <!-- Define Charset -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <!-- Responsive Meta Tag -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

  <link href="http://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700" rel="stylesheet" type="text/css">
  
    <title>Notification 5 - Responsive Email Template</title><!-- Responsive Styles and Valid Styles -->

    
<style type="text/css">
    body{
      width:100%;
      background-color:#ffffff;
      margin:0;
      padding:0;
      -webkit-font-smoothing:antialiased;
      mso-margin-top-alt:0px;
      mso-margin-bottom-alt:0px;
      mso-padding-alt:0px 0px 0px 0px;
    }
    p,h1,h2,h3,h4{
      margin-top:0;
      margin-bottom:0;
      padding-top:0;
      padding-bottom:0;
    }
    span.preheader{
      display:none;
      font-size:1px;
    }
    html{
      width:100%;
    }
    table{
      font-size:14px;
      border:0;
    }
  @media only screen and (max-width: 640px){
    body[yahoo] .show{
      display:block !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .hide{
      display:none !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .main-image img{
      width:440px !important;
      height:auto !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .divider img{
      width:440px !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .banner img{
      width:440px !important;
      height:auto !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .container590{
      width:440px !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .container580{
      width:400px !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .container1{
      width:420px !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .container2{
      width:400px !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .container3{
      width:380px !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .section-item{
      width:440px !important;
    }

} @media only screen and (max-width: 640px){
    body[yahoo] .section-img img{
      width:440px !important;
      height:auto !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .main-header{
      font-size:24px !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .resize-text{
      font-size:14px !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .main-image img{
      width:280px !important;
      height:auto !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .divider img{
      width:280px !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .align-center{
      text-align:center !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .container590{
      width:280px !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .container580{
      width:240px !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .container1{
      width:260px !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .container2{
      width:240px !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .container3{
      width:220px !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .cta-button{
      width:240px !important;
    }

} @media only screen and (max-width: 479px){
    body[yahoo] .cta-text{
      font-size:16px !important;
    }

}</style></head>

<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"> 
  
    
  
  <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="2b2e34" style="background-image: url(https://gallery.mailchimp.com/ba087ef985b740ee023cb4d34/images/860eaf2a-2146-469b-91b2-e6dc3e96e1f0.jpg); background-size: 100% 100%; background-position: center top;" background="http://themastermail.com/alerta/notif5/img/bg.png" class="main-bg">
    
    <tbody><tr><td height="90" style="font-size: 90px; line-height: 90px;">&nbsp;</td></tr>
    
    <tr>
      <td>
        <table border="0" align="center" width="450" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="container3 bg_color" style="border-top-left-radius: 4px; border-top-right-radius: 4px;">
          
          <tbody><tr><td height="3" style="font-size: 3px; line-height: 3px;">&nbsp;</td></tr>
        </tbody></table>
      </td>
    </tr> 
    <tr><td height="3" style="font-size: 3px; line-height: 3px;">&nbsp;</td></tr>
    <tr>
      <td>
        <table border="0" align="center" width="470" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="container2 bg_color" style="border-top-left-radius: 4px; border-top-right-radius: 4px;">
          
          <tbody><tr><td height="3" style="font-size: 3px; line-height: 3px;">&nbsp;</td></tr>
        </tbody></table>
      </td>
    </tr> 
    <tr><td height="3" style="font-size: 3px; line-height: 3px;">&nbsp;</td></tr>
    <tr>
      <td>
        <table border="0" align="center" width="490" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="container1 bg_color" style="border-top-left-radius: 4px; border-top-right-radius: 4px;">
          
          <tbody><tr><td height="3" style="font-size: 3px; line-height: 3px;">&nbsp;</td></tr>
        </tbody></table>
      </td>
    </tr> 
    <tr><td height="3" style="font-size: 3px; line-height: 3px;">&nbsp;</td></tr>
    <tr>
      <td>
        <table border="0" align="center" width="510" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="container590 bg_color" style="border-radius: 4px;">
          
          <tbody><tr><td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td></tr>
          
          <tr>
            <td>
              <table border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <!-- ======= logo ======= -->
                  <td align="center">
                    <a href="www.heartful.ly" style="display: block; border-style: none !important; border: 0 !important;" class="editable_img"><img editable="true" mc:edit="logo" width="43" border="0" style="display: block; width: 43px;" src="https://s3.amazonaws.com/heartfullyimages/miscellaneous/Full+logo+transparent+background.png" alt="logo" class=""></a>
                  </td>     
                </tr>
              </tbody></table>
            </td>
          </tr>
          
          <tr><td height="45" style="font-size: 45px; line-height: 45px;">&nbsp;</td></tr>
          
          <tr>
            <td align="center" mc:edit="mainheader" style="color: #352A5A; font-size: 30px; font-family: 'Oxygen', sans-serif; mso-line-height-rule: exactly; line-height: 30px;" class="title_color main-header">
              
              <!-- ======= section header ======= -->
              
              <div class="editable_text" style="line-height: 30px;">
                <span class="text_container">
                    
                      Welcome to Heartful.ly!
                    
                </span>
              </div>
                </td>
          </tr>
          
          <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>
          
          <tr>
            <td>
              <table border="0" width="440" align="center" cellpadding="0" cellspacing="0" class="container580">        
                <tbody><tr>
                  <td align="center" mc:edit="maintext" style="color: #8d94a3; font-size: 16px; font-family: 'Oxygen', sans-serif; mso-line-height-rule: exactly; line-height: 24px;" class="resize-text text_color">
                    <div class="editable_text" style="line-height: 24px">
                      
                      <!-- ======= section text ======= -->
                      <span class="text_container">We're so happy you're here! You're just a few steps away from completing your charitable registry and sharing the love where it's needed most.</span>
                    </div>
                      </td> 
                </tr>
              </tbody></table>
            </td>
          </tr>
          
          <tr><td height="35" style="font-size: 35px; line-height: 35px;">&nbsp;</td></tr>
          
          <tr>
            <td align="center" style="background-image: url(http://themastermail.com/alerta/notif5/img/divider-bg.png); background-size: 100% 100%; background-position: top center;" background="http://themastermail.com/alerta/notif5/img/divider-bg.png">
              
              <table border="0" align="center" width="300" cellpadding="0" cellspacing="0" bgcolor="2dabcb" style="border-radius: 50px; box-shadow: rgb(255, 255, 255) 0px 3px 0px 1px; background-color: rgb(114, 114, 222);" class="cta-button main_color">
                
                <tbody><tr><td height="17" style="font-size: 17px; line-height: 17px;">&nbsp;</td></tr>
                
                <tr>
                  
                          <td align="center" style="color: #ffffff; font-size: 18px; font-family: 'Questrial', sans-serif;" mc:edit="mainbutton" class="cta-text">
                            <!-- ======= main section button ======= -->
                            
                              <a href="https://www.heartful.ly" style="color: inherit; text-decoration: none;">
                                        
                                        <div class="editable_text" style="line-height: 24px;">
                                <span class="text_container">Complete my registry</span>
                              </div> </a>
                            </td>
                            
                        </tr>
                
                <tr><td height="17" style="font-size: 17px; line-height: 17px;">&nbsp;</td></tr>
              
              </tbody></table>
            </td>
          </tr>
          
          <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>
          
          <tr>
            <td align="center" mc:edit="unsubscribe" style="color: #8d94a3; font-size: 14px; font-family: 'Questrial', sans-serif; line-height: 22px;" class="text_color">
              <!-- ======= section subtitle ====== -->
              
          
          </td></tr><tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>
          
          <tr>
              <td align="center">
              
                      <table border="0" align="center" cellpadding="0" cellspacing="0" width="75">
                        <tbody><tr><td height="5" style="font-size: 5px; line-height: 5px;">&nbsp;</td></tr>
                        <tr>
                          <td align="center">
                            <table border="0" align="center" cellpadding="0" cellspacing="0">
                              <tbody><tr>
                
                      </tr>   
                            </tbody></table>        
                          </td>
                        </tr>
              </tbody></table>
              </td>
            </tr>
          
          <tr><td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td></tr>
                            
        </tbody></table>
      </td>
    </tr>
    
    <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>
    
    <tr>
      <td>
        <table border="0" width="540" align="center" cellpadding="0" cellspacing="0" class="container580">
          <tbody><tr>
            
            <td align="center" mc:edit="copy" style="color: #ffffff; font-size: 14px; font-family: 'Questrial', sans-serif; mso-line-height-rule: exactly; line-height: 30px;" class="text2_color">
              <div class="editable_text" style="line-height: 30px">
                
                <!-- ======= section text ======= -->
                <span class="text_container">
                    
                      © 2016 Heartful.ly, Inc. All Rights Reserved.
                    
                </span>
              </div>
                </td> 
          </tr>
        </tbody></table>
      </td>
    </tr>
    
    <tr><td height="50" style="font-size: 50px; line-height: 50px;">&nbsp;</td></tr>
    
  </tbody></table>
  
   
</body>
</html>