<div class="small-12 large-8 small-centered columns">
  <h2>Sign Up</h2>

  <%#= render 'shared/error_messages', :obj => @user %>

  <%#= form_for @user do |form| %>
    <%#= render :partial => '/users/form', :object => form %>

    <!-- <div class="submit-field"> -->
      <%#= form.submit "Sign Up", :class => "button expand" %>
    <!-- </div> -->

  <%# end %>
  <iframe src="https://docs.google.com/forms/d/1SWaX0SWd6B0SptYT0zRDpuRObCB1QvQLh8HQr0MndjU/viewform?embedded=true" width="760" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
