<% if obj.errors.any? %>
  <div class="error mb">
    <strong><%= pluralize(obj.errors.count, "error") %> prohibited this registry from being saved:</strong>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
