<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-3 large-2 columns text-center">
      <h1 id="logo-footer"><a href="/">Heartful.ly</a></h1>
      <div class="row social-links">
        <a href="https://twitter.com/heartful_ly" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://instagram.com/heartful.ly/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://twitter.com/heartful_ly" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
    <div class="small-12 medium-3 large-2 columns text-center company-address">
     <a href="https://www.google.com/maps/place/123+Washington+Ave+SW,+Washington,+DC+20024/@38.8875589,-77.0139829,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7b78123738b27:0xe7ef9fad2da4d173">
      123 STREET STREET<br/>
      P.O BOX 000<br/>
      Washington, DC 00000
     </a>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>About Us</h4>
      <ul class="footer-links">
        <li><a href="#">Story</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      <ul>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Social</h4>
      <ul class="footer-links">
        <li><a href="#">Blog</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
      <ul>
    </div>
  </div>
</footer>