<footer class="footer">

  <div class="row full-width">
    <div class="small-12 medium-3 large-3 columns text-center logo-footer">
      <h1><a href="/">Heartful.ly</a></h1><br/>
      <a href="https://twitter.com/heartful_ly" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://instagram.com/heartful.ly/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://twitter.com/heartful_ly" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>

    <div class="small-12 medium-2 large-2 columns text-center mailing-address text-center">
     <a href="https://www.google.com/maps/place/123+Washington+Ave+SW,+Washington,+DC+20024/@38.8875589,-77.0139829,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7b78123738b27:0xe7ef9fad2da4d173">
      123 STREET STREET<br/>
      P.O BOX 000<br/>
      Washington, DC 00000
     </a>
    </div>

    <div class="small-12 medium-2 large-2 columns about-us-footer text-center">
      <ul class="footer-links">
        <li class="left"><a href="#">Faq</a></li>
        <li class="left"><a href="#">Our Mission</a></li>
        <li class="left"><a href="#">Our Team</a></li>
      </ul>
    </div>
    <div class="small-12 medium-2 large-2 columns company-info text-center">
      <ul class="footer-links">
        <li class="left"><a href="#">How It Works</a></li>
        <li class="left"><a href="#">Partner With Us</a></li>
        <li class="left"><a href="#">Our Partners</a></li>
      </ul>
    </div>
    <div class="small-12 medium-3 large-3 columns contact-us text-center">
      <ul class="footer-links">
        <li class="left"><a href="#">Creat Your Registry</a></li>
        <li class="left"><a href="#">Login</a></li>
        <li class="left"><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="row full-width terms-and-rights">
    <div class="columns small-12 medium-12 large-12 text-center">
      <h6>
        <span class="line-center">
          Copyright 2015 Heartful.ly. All rights reserved. Privacy. Terms of Use
        </span>
      </h6>
    </div>
  </div>
</footer>