<footer class="c-footer">
  <div class="test r-flex">
    <div class="c-footer__logo">
        <svg class="c-nav__logo" style="fill: white; height: 100px; margin-left: 0;" viewbox="0 0 275.5 71.5" preserveAspectRatio="xMinYMax meet">
              <use xlink:href="#icon-logo-logotype"></use>
        </svg>
    </div>
    <ul class="c-footer__list">
        <li><a href="">About Us</a></li>
        <li><a href="">Our Partners</a></li>
        <li><a href="">Contact Us</a></li>
    </ul>
    <ul class="c-footer__list">
        <li><a href="">Create A Registry</a></li>
        <li><a href="">Browse Projects</a></li>
        <li><a href="">FAQ</a></li>
    </ul>
    <ul class="c-footer__social">
        <li><a href=""><svg class="c-icon c-icon--white"><use xlink:href="#icon-twitter"></use></svg></a></li>
        <li><a href=""><svg class="c-icon c-icon--white"><use xlink:href="#icon-instagram"></use></svg></a></li>
    </ul>
  </div>
  <div class="c-footer__terms nudge-top">
      Copyright 2015 Heartful.ly. All rights reserved.<br />
      Terms of Use - Privacy Policy
  </div>
</footer>
