<footer class="footer">

  <div class="row full-width">
    <div class="small-12 medium-3 large-3 columns text-center logo-footer">
      <h1><a href="/">Heartful.ly</a></h1><br/>
      <a href="https://twitter.com/heartful_ly" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://instagram.com/heartful.ly/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://twitter.com/heartful_ly" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>

    <div class="small-12 medium-2 large-2 columns text-center mailing-address text-center">
     <a href="https://www.google.com/maps/place/123+Washington+Ave+SW,+Washington,+DC+20024/@38.8875589,-77.0139829,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7b78123738b27:0xe7ef9fad2da4d173">
      <!-- Address Goes here -->
     </a>
    </div>

    <div class="small-12 medium-2 large-2 columns about-us-footer text-center">
      <ul class="footer-links">
        <li class="left"><%= render 'shared/faq' %></li>
        <li class="left"><a href="#"><%= render 'shared/our_mission' %></a></li>
        <li class="left"><a href="#" data-reveal-id="js-coming-soon-modal">Our Team</a></li>
      </ul>
    </div>
    <div class="small-12 medium-2 large-2 columns company-info text-center">
      <ul class="footer-links">
        <li class="left"><a href="#" data-reveal-id="js-coming-soon-modal">How It Works</a></li>
        <li class="left"><a href="#"><%= render 'shared/partner_with_us' %></a></li>
        <li class="left"><a href="#" data-reveal-id="js-coming-soon-modal">Our Partners</a></li>
      </ul>
    </div>
    <div class="small-12 medium-3 large-3 columns contact-us text-center">
      <ul class="footer-links">
        <!-- <li class="left"><a href="#">Create Your Registry</a></li> -->
        <!-- <li class="left"><a href="#">Login</a></li> -->
        <li class="left"><a href="mailto:info@heartful.ly">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="row full-width terms-and-rights">
    <div class="columns small-12 medium-12 large-12 text-center">
      <h6>
        <span class="line-center">
          Copyright 2015 Heartful.ly. All rights reserved. Privacy. Terms of Use
        </span>
      </h6>
    </div>
  </div>
  <div id="js-coming-soon-modal" class="reveal-modal small medium js-coming-soon-modal" data-reveal>
    <a href="#" class="close-reveal-modal">&times;</a>
    <h3 class="text-center"><strong>Coming Soon!</strong></h3>
  </div>
</footer>