<!-- FORMS -->
<div class="nudge-top test">

<!-- Inline text input -->
<h2 class="mb">Inline text input</h2>
<form>
  <label for="name">Enter your name.</label>
  <input class="mb" name="name" type="text" placeholder="Type name"></input>
</form>

<!-- Stacked elements -->
<h2 class="mb">Stacked form elements</h2>
<form class="stacked">
  <label for="name">A stacked thing.</label>
  <input class="mb stretch" name="name" type="text" placeholder="Type name"></input>
  
  <label for="name">A stacked thing.</label>
  <input class="mb stretch" name="name" type="text" placeholder="Type name"></input>
  
  <label for="name">A stacked thing.</label>
  <input class="mb stretch" name="name" type="text" placeholder="Type name"></input>

  <label>Select something.</label>
  <select class="mb">
    <option>Option one</option>
    <option>Another option</option>
  </select>

  <label>
    <input type="checkbox">Yes, I like dogs.
  </label>

  <label>
    <input type="checkbox">No, I am a terrible person.
  </label>

  <label>Type a paragraph.</label>
  <textarea class="stretch mb"></textarea>
</form>

<!-- Forms with help text -->
<h2 class="mb">Form inputs with help text</h2>
<form>
  <label>Tell us about yourself</label>
  <p class="help quiet small">This is some helpful information about how to fill out this form. This could be one or two sentences, around 150 characters max probably.</p>
  <textarea class="stretch mb"></textarea>
</form>

<!-- Form states -->
<h2 class="mb">Form states</h2>
<form class="stacked">
  <label>This is a disabled input.</label>
  <input type="text" class="is-disabled mb" disabled="" value="This is disabled">

  <label>This is a read-only input.</label>
  <input type="text" class="is-readonly mb" readonly="" value="This is read-only">

  <label>This is a required input.</label>
  <input type="text" class="is-required mb" required="">

  <label>This is a success state input.</label>
  <input type="text" class="is-success mb">
</form>

</div>