<!-- <nav class="top-bar-section">
  <ul class="inline-list right no-margin">
    <li>
      <%#= link_to "Log In", sign_in_path, :class => "button radius small no-margin" %>
    </li>
    <li>
      <%#= link_to "Projects", projects_path, :class => "button radius small no-margin" %>
    </li>
    <li>
      <%#= link_to "Sign Up", sign_up_path, :class => "button radius small no-margin" %>
    </li>
  </ul>
</nav> -->

<ul class="inline-list no-margin menu-ul-js">
  <li>
    <%= link_to "Log In", sign_in_path, :class => "" %>
  </li>
  <li>
    <%#= link_to "Explore", projects_path, :class => "" %>
    <a href="" data-reveal-id="js-explore-modal">Explore</a>
    <div id="js-explore-modal" class="reveal-modal small medium js-explore-modal" data-reveal>
      <a href="#" class="close-reveal-modal">&times;</a>
      <h3>Projects Gallery Coming Soon!</h3>
    </div>
  </li>
  <li>
    <%= link_to "Create", sign_up_path, :class => "" %>
  </li>
  <li>
    <%= link_to "Search", sign_up_path, 'data-reveal-id' => "js-coming-soon-modal" %>
  </li>
</ul>