<header class="row">
  <div class="small-12 medium-6 large-4 columns">
    <h1 id="logo"><a href="/">Heartful.ly</a></h1>
  </div>
  <div class="small-12 medium-6 large-8 columns">
    <% if signed_in?  %>
      <%= render 'shared/user_nav' %>
    <% else  %>
      <%= render 'shared/guest_nav' %>
    <% end %>
  </div>
</header>