<% if flash.any? %>
<div class="row" id="flash">
  <% flash.each do |key, value| %>
    <div class="<%= key %> columns small-11"><%= value %></div>
  <% end %>
  <i class="column small-1 right text-right fa fa-close"></i>
</div>
<% end %>

<% if(params[:controller] == "marketing") %>
<header class="row header-home">
<% else %>
<header class="row">
<% end %>
  <div class="small-2 medium-3 large-4 columns">
    <h1 id="logo"><a href="/">Heartful.ly</a></h1>
  </div>
  <div id="main-nav-container" class="small-10 medium-9 large-8 columns">
    <a id="hamburger-menu" href="#">&#9776;</a>
    <nav class="top-bar-section">
    <% if signed_in?  %>
      <%= render 'shared/user_nav' %>
    <% else  %>
      <%= render 'shared/guest_nav' %>
    <% end %>
    </nav>
  </div>
</header>