<title>
  <%= "#{yield(:page_title)} | " if content_for?(:page_title) %> Heartful.ly
</title>

<%= stylesheet_link_tag('application', media: 'all') %>
<%= javascript_include_tag "vendor/modernizr" %>

<link href='//fonts.googleapis.com/css?family=Pacifico|Hind:400,700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta property="og:title" content="Heartful.ly"/>
<meta property="og:description" content="Create a charitable wedding registry and share your happily ever after with the world." />
<meta property="og:image" content="http://www.heartful.ly/assets/homepage/homepage_image-c684c9d98a1ad8a1732dac9108d42ef4.jpg" />
<meta property="og:image:type" content="image/jpg" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="400" />
<meta property="og:type" content="picture"/>

<%= csrf_meta_tags %>