<header class="c-nav c-nav--transparent">
  <div class="c-nav__logo-wrapper">
    <svg class="c-nav__logo c-nav__logo--logotype" viewbox="0 0 275.5 71.5" preserveAspectRatio="xMinYMax meet">
      <use xlink:href="#icon-logo-logotype"></use>
    </svg>

    <a href='/'>
      <svg class="c-nav__logo c-nav__logo--mark" viewBox="0 0 135.4 135.4" preserveAspectRatio="xMinYMax meet">
        <use xlink:href="#icon-logo-logomark"></use>
      </svg>
    </a>
  </div>

  <ul class="c-nav__menu">
    <li class="c-nav__menu-item"><%= link_to 'About', about_us_path %></li>
    <li class="c-nav__menu-item"><%= link_to "Browse Projects", projects_path %></li>
    <li class="c-nav__menu-item"><a href="#">Our Partners</a></li>
    <li class="c-nav__menu-item"><%= link_to 'Log In', sign_in_path%></a></li>
    <li class="c-nav__menu-item"><a href="#">FAQ</a></li>

    <!--  TODO: Add cart functionality -->
    <!-- <li class="c-nav__menu-item c-nav__cart">
      <svg class="c-icon c-icon--status cart-icon" style="width: 25px; height: 25px;"><use xlink:href="#icon-cart"></use></svg>
      <div class="c-icon--cart-quantity">
        3
      </div>
    </li> -->
  </ul>

  <div class="c-nav__menu-indicator">MENU</div>

  <ul class="c-nav__mobile-menu inactive">
    <div class="c-nav__mobile-menu--close">
      <svg class="c-icon c-icon--medium mb"><use xlink:href="#icon-close"></use></svg>
    </div>
    <li class="c-nav__menu-item"><a href="#">About</a></li>
    <li class="c-nav__menu-item"><a href="#">Browse Projects</a></li>
    <li class="c-nav__menu-item"><a href="#">Our Partners</a></li>
    <li class="c-nav__menu-item"><a href="#">FAQ</a></li>
    <li class="c-nav__menu-item"><a href="#">Settings & Admin</a></li>
    <li class="c-nav__menu-item"><a href="#">Sign Out</a></li>
  </ul>
</header>
<div>
</div>
