<header class="c-nav c-nav--transparent">
  <div class="c-nav__logo-wrapper">
    <svg class="c-nav__logo c-nav__logo--logotype" viewbox="0 0 275.5 71.5" preserveAspectRatio="xMinYMax meet">
      <use xlink:href="#icon-logo-logotype"></use>
    </svg>

    <svg class="c-nav__logo c-nav__logo--mark" viewBox="0 0 135.4 135.4" preserveAspectRatio="xMinYMax meet">
      <use xlink:href="#icon-logo-logomark"></use>
    </svg>
  </div>

  <ul class="c-nav__menu">
    <li class="c-nav__menu-item"><a href="#">About</a></li>
    <li class="c-nav__menu-item"><a href="#">Browse Projects</a></li>
    <li class="c-nav__menu-item"><a href="#">Our Partners</a></li>
    <li class="c-nav__menu-item"><a href="#">FAQ</a></li>
    <li class="c-nav__menu-item">
      <a href="#">Lauren & Benjamin</a>
      <ul class="c-nav__admin-menu">
        <li class="c-nav__admin-menu-item"><a href="#">Settings & Admin</a></li>
        <li class="c-nav__admin-menu-item"><a href="#">View Registry</a></li>
        <li class="c-nav__admin-menu-item"><a href="#">Edit Registry</a></li>
        <li class="c-nav__admin-menu-item"><a href="#">Sign Out</a></li>
      </ul>
    </li>
  </ul>
</header>
