<div class="c-breaker gray section">
  <div class="test">
    <div class="meta mb center">About The Couple</div>
    <div class="c-circle"></div>
    <div class="c-paragraph ma skinny mb--large">
      <h2 class="c-paragraph__heading">
        Our Story
      </h2>
      <p class="c-paragraph__text">
        Both strangers to Boston and ready for adventure, we met in 2010. For five years we've had amazing, crazy, and unforgettable experiences together.  Last November, James proposed while camping in Yellowstone National Park, and it was utterly perfect. We could not be more excited to spend the rest of our lives looking for new adventures together.
      </p>
    </div
    ><div class="c-paragraph ma skinny">
      <h2 class="c-paragraph__heading">
        Our Registry
      </h2>
      <p class="c-paragraph__text">
        As we begin our lives together, we want to share our joy by supporting people in need. We are inspired by the work that HELPS International is doing to improve the health and wellbeing of people in Guatemala and invite you to choose items on our behalf to support this project.
      </p>
    </div>
  </div>
</div>
