.c-press__bar
  %ul.values.r-flex.block
    %li.values__press-item
      %a{:href => "http://www.marthastewartweddings.com/600825/heartfully-registry-bloomerent-zola-michael-c-fina", :target => "blank"}
        %img.c-icon--media-bar-grey{:src => image_url('media-marthastewart-grey.png')}
        %img.c-icon--media-bar-purple{:src => image_url('media-marthastewart-purple.png')}
    %li.values__press-item
      %a{:href => "https://www.washingtonpost.com/pr/wp/2015/12/02/start-up-heartful-ly-wins-millennial-entrepreneur-pitch-contest-at-ingenuity-2015-summit/", :target => "blank"}
        %img.c-icon--media-bar-grey{:src => image_url('media-wapo-grey.png')}
        %img.c-icon--media-bar-purple{:src => image_url('media-wapo-purple.png')}
    %li.values__press-item
      %a{:href => "http://fashionista.com/2016/05/tory-burch-fellowship-2016", :target => "blank"}
        %img.c-icon--media-bar-grey{:src => image_url('media-fashionista-grey.png')}
        %img.c-icon--media-bar-purple{:src => image_url('media-fashionista-purple.png')}
    %li.values__press-item
      %a{:href => "http://www.bizjournals.com/bizwomen/news/latest-news/2016/06/wedding-crashers-the-women-disrupting-nuptial.html", :target => "blank"}
        %img.c-icon--media-bar-grey{:src => image_url('media-bizjournals-grey.png')}
        %img.c-icon--media-bar-purple{:src => image_url('media-bizjournals-purple.png')}
    %li.values__press-item
      %a{:href => "https://issuu.com/washingtonlife/docs/wl1115_digital/45", :target => "blank"}
        %img.c-icon--media-bar-grey{:src => image_url('media-washlife-grey.jpg')}
        %img.c-icon--media-bar-purple{:src => image_url('media-washlife-purple.jpg')}