.c-press__bar
  %ul.values.r-flex.block
    %li.values__press-item
      %a{:href => "https://www.nytimes.com/2017/01/11/fashion/weddings/the-pay-it-forward-wedding-when-i-do-becomes-i-do-more.html", :target => "blank"}
        %img.c-icon--media-bar-grey{:src => image_url('media-nyt-grey.png')}
        %img.c-icon--media-bar-purple{:src => image_url('media-nyt-purple.png')}
    %li.values__press-item
      %a{:href => "http://www.forbes.com/sites/leahwald/2016/12/20/save-the-world-tie-it-with-a-bow-how-a-peace-corps-volunteer-is-changing-the-way-you-buy-gifts/", :target => "blank"}
        %img.c-icon--media-bar-grey{:src => image_url('media-forbes-grey.png')}
        %img.c-icon--media-bar-purple{:src => image_url('media-forbes-purple.png')}
    %li.values__press-item
      %a{:href => "http://www.marthastewartweddings.com/600825/heartfully-registry-bloomerent-zola-michael-c-fina", :target => "blank"}
        %img.c-icon--media-bar-grey{:src => image_url('media-marthastewart-grey.png')}
        %img.c-icon--media-bar-purple{:src => image_url('media-marthastewart-purple.png')}
    %li.values__press-item
      %a{:href => "https://www.washingtonpost.com/pr/wp/2015/12/02/start-up-heartful-ly-wins-millennial-entrepreneur-pitch-contest-at-ingenuity-2015-summit/", :target => "blank"}
        %img.c-icon--media-bar-grey{:src => image_url('media-wapo-grey.png')}
        %img.c-icon--media-bar-purple{:src => image_url('media-wapo-purple.png')}
    %li.values__press-item
      %a{:href => "http://fashionista.com/2016/05/tory-burch-fellowship-2016", :target => "blank"}
        %img.c-icon--media-bar-grey{:src => image_url('media-fashionista-grey.png')}
        %img.c-icon--media-bar-purple{:src => image_url('media-fashionista-purple.png')}