<div class="test">
  <div class="c-project-details nudge-top--large mb--xl flex">
    <div class="flex-2">
      <div class="c-paragraph mb--large">
        <h2 class="c-paragraph__heading">The Problem</h2>
        <p class="c-paragraph__text">
          Half of Guatemala’s population lives below the poverty line, and nearly 16% live in extreme poverty. The limited existing healthcare services are largely inaccessible due to financial barriers.
        </p>
      </div>
      <div class="c-paragraph mb--large">
        <h2 class="c-paragraph__heading">The Solution</h2>
        <p class="c-paragraph__text">
          HELPS International has developed a system for volunteer medical teams to address the healthcare crisis in rural areas of Guatemala. These services are provided free of charge to those in need during medical missions.
        </p>
      </div>
      <div class="c-paragraph mb--large">
        <h2 class="c-paragraph__heading">Why It's Important</h2>
        <p class="c-paragraph__text">
          Latin America is in the midst of an ongoing healthcare crisis. Not only can most of the population not afford healthcare, but due to a shortage in trained health workers, families frequently seeking medical services often find their local hospitals not adequately staffed or equipped to handle their cases.
        </p>
      </div>
      <div class="c-paragraph mb--large">
        <h2 class="c-paragraph__heading">Sustainability</h2>
        <p class="c-paragraph__text">
          HELPS’ Medical Program began in 1988 when an eight-member U.S. plastic surgery team traveled to a village in the northern highlands of Guatemala. With inadequately staffed hospitals already situated in remote areas of the Guatemalan highlands, HELPS worked in cooperation with the Guatemalan government to make use of these facilities. The HELPS medical teams quickly gained momentum, spreading through Guatemala and covering a much larger area of the country. Since then, the programs have grown immensely, gaining the support needed to move beyond the walls of the hospitals. Today, HELPS’ Medical Program has been called the largest medical relief program in Guatemala.
        </p>
      </div>
    </div>
    <div class="flex-2">
      <div class="c-project-steps">
        <h2 class="c-project-steps__title mb--small">How It Works</h2>
        <div class="c-project-steps__list">
          <div class="c-project-steps__list-left"></div>
          <ul class="c-project-steps__list-right">
            <li class="c-project-steps__list-item">
              The volunteer medical teams for HELPS missions are comprised of about 90 members, ranging from physicians and surgeons to nurses and support staff.
            </li>
            <li class="c-project-steps__list-item">
              During a mission, surgical and medical volunteers set up shop in vacant hospitals, filling empty rooms with medicine, supplies and other surgical equipment to provide healthcare services that are as close as possible to U.S. quality standards.
            </li>
            <li class="c-project-steps__list-item">
              Free health care during these missions is accessible to all Guatemalans, regardless of income level enabling lives to be saved and long-term disabilities averted.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
