<div class="test center c-project-header pt-l">
  <div class="meta">Project</div>
  <h1 class="c-project-header__title">Support Life Saving Surgeries in Guatemala</h1>
  <button class="c-button c-button--primary nudge-top--small">Select this project for our registry</button>
</div>
