<div class="r-flex mb--large">
  <div class="c-project-mini flex-2">
    <a href="#">
      <div class="c-project-mini__header">
        <div class="c-project-mini__title">
          EcoSac Women's Empowerment
        </div>
      <div class="c-project-tabbed__header--overlay"></div>
      </div>
    </a>
    <div class="c-project-mini__info">
      <p>Bring free, high quality medical care to those in need by supporting medical missions that serve the most vulnerable populations of Guatemala.</p>
      <a href="#" class="link--secondary inline nudge-top--small">Learn more &rarr;</a>
      <button class="c-button c-button--primary block nudge-top stretch">
        Select this project
      </button>
    </div>
  </div>
  <div class="c-project-mini flex-2">
    <a href="#">
      <div class="c-project-mini__header">
        <div class="c-project-mini__title">
          EcoSac Women's Empowerment
        </div>
      <div class="c-project-tabbed__header--overlay"></div>
      </div>
    </a>
    <div class="c-project-mini__info">
      <p>Bring free, high quality medical care to those in need by supporting medical missions that serve the most vulnerable populations of Guatemala.</p>
      <a href="#" class="link--secondary inline nudge-top--small">Learn more &rarr;</a>
      <button class="c-button c-button--primary block nudge-top stretch">
        Select this project
      </button>
    </div>
  </div>
</div>
