<div class="c-project-summary c-breaker purple">
  <div class="test flex">
    <div class="c-project-summary__summary center">
      Bring free, high quality medical care to those in need by supporting medical missions that serve the most vulnerable populations of Guatemala.
    </div>
  </div>
</div>
