<div class="meta center">About Our Project</div>
<div class="c-project-tabbed">
  <div class="c-project-tabbed__header">
    <div class="c-project-tabbed__header--wrapper">
      <span class="c-project-tabbed__header--subtitle">PROJECT</span>
      <h2 class="c-project-tabbed__header--title">Support life saving surgeries in Guatemala</h2>
    </div>
    <div class="c-project-tabbed__header--overlay"></div>
  </div>
  <ul class="c-project-tabbed__menu">
    <li class="c-project-tabbed__menu-item active">
      <a href="#">Overview</a>
    </li>
    <li class="c-project-tabbed__menu-item">
      <a href="#">Problem & Solution</a>
    </li>
    <li class="c-project-tabbed__menu-item">
      <a href="#">How It Works</a>
    </li>
    <li class="c-project-tabbed__menu-item">
      <a href="#">Why It's Important</a>
    </li>
    <li class="c-project-tabbed__menu-item">
      <a href="#">Sustainability</a>
    </li>
  </ul>
  <div class="c-project-tabbed__content">
    <div class="c-project-tabbed__content--overview">
      <p class="c-project-tabbed__content--overview--summary">
        Bring free, high quality medical care to those in need by supporting medical missions that serve the most vulnerable populations of Guatemala.
      </p>
      <aside class="c-project-tabbed__content--overview--partner">
        <h4 class="mb--small">HELPS International</h4>
        <ul class="c-project-about__meta">
          <li>
            <svg class="c-icon c-icon--inline" title="location"><use xlink:href="#icon-map"></use></svg> Tanzania
          </li>
          <li><svg class="c-icon c-icon--inline" title="location"><use xlink:href="#icon-link"></use></svg> <a class="c-project-about__link" href="#">helpsintl.org</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
