<svg class="c-icon"><use xlink:href="#icon-globe"></use></svg>
<div class="meta center">About Our Project</div>
<div class="c-project-tabbed">
  <div class="c-project-tabbed__header">
    <div class="c-project-tabbed__header--wrapper">
      <span class="c-project-tabbed__header--subtitle">PROJECT</span>
      <h2 class="c-project-tabbed__header--title">Support life saving surgeries in Guatemala</h2>
    </div>
    <div class="c-project-tabbed__header--overlay"></div>
  </div>
  <div class="c-project-tabbed__content">
    <div class="c-project-tabbed__content--overview r-flex">
      <div class="c-project-tabbed__menu-small">
        Tablet and down menu to go here
      </div>
      <ul class="c-project-tabbed__menu">
        <li class="c-project-tabbed__menu-item active">
          <a href="#">Overview</a>
        </li>
        <li class="c-project-tabbed__menu-item">
          <a href="#">Problem & Solution</a>
        </li>
        <li class="c-project-tabbed__menu-item">
          <a href="#">How It Works</a>
        </li>
        <li class="c-project-tabbed__menu-item">
          <a href="#">Why It's Important</a>
        </li>
        <li class="c-project-tabbed__menu-item">
          <a href="#">Sustainability</a>
        </li>
      </ul>
      <div class="c-project-tabbed__content--overview--summary mb">
        Bring free, high quality medical care to those in need by supporting medical missions that serve the most vulnerable populations of Guatemala.
      </div>
      <div class="c-project-tabbed__content--overview--partner">
        <h3 class="mb" style="text-transform: uppercase; color: gray; font-family: 'AvenirNextLTPro-Demi', Helvetica, Arial, sans-serif; font-size: 0.8em; letter-spacing: 0.5pt;">About This Partner</h3>
        <img src="https://pbs.twimg.com/profile_images/616326778/Helps_Logo_H_only.JPG" style="width: 50px; height: 50px; display: inline-block; vertical-align: middle;">
        <div class="block">
          <h4 class="c-project-about__partner nudge-top--small">HELPS International</h4>
        </div>
          <ul class="c-project-about__meta">
            <li>
              <svg class="c-icon c-icon--inline" title="location"><use xlink:href="#icon-map"></use></svg> Guatemala
            </li>
            <li><svg class="c-icon c-icon--inline" title="location"><use xlink:href="#icon-link"></use></svg> <a class="c-project-about__link" href="#">helpsintl.org</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
