<div class="c-quote">
  <div class="test c-quote__content">
    <p class="test c-quote__quote">A quote or testimonial from the partner about this project, outcomes, mission, or something else.</p>
    <div class="c-quote__person nudge-top--small">— Benjamin Doe</div>
  </div>
</div>