<div class="c-quote">
  <div class="test c-quote__content">
    <p class="test c-quote__quote"><%= @project.staff_quote %></p>
    <div class="c-quote__person nudge-top--small">— <%= @project.contact_name %></div>
  </div>
</div>
