<div class="c-breaker gray">
  <div class="block center mb--small"><svg class="c-icon c-icon--large" title="gifts"><use xlink:href="#icon-gift"></use></svg></div>
  <h4 class="meta center mb--xl">Registry Gift Items</h4>
  <div class="test flex">
    <div class="c-registry-card flex-2">
      <h3 class="c-registry-card__title">
        Surgical equipment (sponges, needles, clamps, scalpels, etc)
      </h3>
      <div class="c-registry-card__info">
        <div class="c-registry-card__price">
          $30
        </div>
        <button class="c-registry-card__gift c-button">
          <span>Gift this item</span>
        </button>
      </div>
      <div class="c-registry-card__qty">
        <div class="c-registry-card__qty-input">
          <label>Quantity</label>
          <input type="number" placeholder="0"></input>
        </div>
        <button class="c-registry-card__cart c-button">
          <span>Add to Cart</span>
        </button>
      </div>
    </div>
    <div class="c-registry-card flex-2">
      <h3 class="c-registry-card__title">
        Surgical equipment (sponges, needles, clamps, scalpels, etc)
      </h3>
      <div class="c-registry-card__info">
        <div class="c-registry-card__price">
          $30
        </div>
        <button class="c-registry-card__cart c-button">
          <span>Add to Cart</span>
        </button>
      </div>
      <div class="c-registry-card__qty">
        <div class="c-registry-card__qty-input">
          <label>Quantity</label>
          <input type="number" placeholder="0"></input>
        </div>
        <button class="c-registry-card__cart c-button">
          <span>Add to Cart</span>
        </button>
      </div>
    </div>
  </div>
  <div class="test flex">
    <div class="c-registry-card flex-2">
      <h3 class="c-registry-card__title">
        Surgical equipment (sponges, needles, clamps, scalpels, etc)
      </h3>
      <div class="c-registry-card__info">
        <div class="c-registry-card__price">
          $30
        </div>
        <button class="c-registry-card__cart c-button">
          <span>Add to Cart</span>
        </button>
      </div>
    </div>
    <div class="c-registry-card flex-2">
      <h3 class="c-registry-card__title">
        Surgical equipment (sponges, needles, clamps, scalpels, etc)
      </h3>
      <div class="c-registry-card__info">
        <div class="c-registry-card__price">
          $30
        </div>
        <button class="c-registry-card__cart c-button">
          <span>Add to Cart</span>
        </button>
      </div>
    </div>
  </div>
</div>
