<div class="c-status-wrapper">
  <div class="c-status">
    <div class="test">
      <svg class="c-icon c-icon--status"><use xlink:href="#icon-globe"></use></svg>
      <strong>Reminder:</strong> You haven't yet selected a project for your registry! <a href="#" style="text-decoration: underline;">Select a project.</a>
    </div>
  </div>
</div>
