<img src="https://cdn.rawgit.com/Heartfully/registry-images/master/marissa_and_travis/follow_up%20interviews.jpg" alt="Three boys smiling" />
<h4>LIGHT UP THE NIGHT WITH A SOLAR ENERGY CAMPAIGN FOR ZAMBIAN FAMILIES</h4>
<h5><strong>Goal: $3,000</strong></h5>
<h4><a href="" data-reveal-id="js-learn-more-modal-2"><strong>Learn More</strong></a></h4>
<div id="js-learn-more-modal-2" class="reveal-modal small medium learn-more-modal" data-reveal>
  <a href="#" class="close-reveal-modal">&times;</a>

  <h5>LIGHT UP THE NIGHT WITH A SOLAR ENERGY CAMPAIGN FOR ZAMBIAN FAMILIES</h5>
  <h5>Project Goal: $3,000 (supports four schools)/ $6,000 (supports 8 schools)</h5>
  <p>Bring access to solar energy to school children and their families at schools in Zambia's Central Province.</p>

  <h5>THE PROBLEM</h5>
  <p>
    Seven out of ten people in Zambia have no access to electricity. Without it, families are dependent on alternatives like burning kerosene. The black smoke a kerosene lamp emits pollutes the environment and its expensive price keeps families locked in a cycle of poverty.
  </p>
   
  <h5>THE OPPORTUNITY</h5>
  <p>
    Light up the night and help bring access to solar energy to school children and their families across eight schools in Zambia’s Central Province. Specifically, this registry has the opportunity to:
  </p>
  <ul class="disc">
    <li>Give 3,762/7,524 people access to solar lights.</li>
    <li>Provide 745,670/1,491,340 study hours to children.</li>
    <li>Save families $124,350/$248,700 in fuel costs.</li>
    <li>Avert 323/646 tons of carbon dioxide emissions.</li>
    <li>Improve the respiratory health of 2,157/4,314 people by transitioning to a clean light source.</li>
  </ul>
   
  <h5>HOW IT WORKS</h5>
  <p>
    SolarAid is working to eradicate the kerosene lamp from Africa by 2020 by selling solar lights through its social enterprise, SunnyMoney. By selling lights, not giving them away, they are establishing a solar market which will light up an entire continent and leave a lasting energy legacy.
  </p>
  <ul class="disc">
    <li> Through a unique community distribution model, headteachers are trained and empowered to raise trust and communicate the benefits of solar power to parents.</li>
    <li> Parents are able to purchase a solar light at a promotional price and as each light shines in the night, it attracts neighbors and in turn the demand for solar lights grows.</li>
    <li> This sparks the market conditions required for local shops and independent agents to sell solar lights, which supports job creation and ensures money stays in the local economy.</li>
  </ul>
   
  <h5>WHY IT’S IMPORTANT:</h5>
  <ul class="disc">
    <li>Better health: Over 50% of families show signs of improvement in respiratory health after switching from kerosene and paraffin to solar lights.</li>
    <li> Productivity: Solar lights allow students to read without straining their eyes as well as enable work and meal preparation after sunset.</li>
    <li> Savings: The money saved in 10 weeks from not having to buy kerosene is enough for families to purchase a Solar Light that can last 5 years.</li>
    <li> Environmentally Smart:  Solar lights in the household can reduce CO₂ emissions by up to 440 pounds per year.</li>
  </ul>

  <h5>SUSTAINABILITY:</h5>
  <p>
    The SolarAid social enterprise model avoids any reliance on donations and simply introduces solar products into the local market. It also generates jobs, saves money and increases productivity by harnessing the world’s most sustainable form of energy – solar power!
  </p>
   
  <h5>SAMPLE OF GIFT ITEMS:</h5>

  <ul>
    <li>Transport of solar lights to communities</li>

    <li>Solar light marketing bundle (sample lights, radio ads, banners, posters, flyers)</li>

    <li>Project monitoring and evaluation</li>
  </ul>

  <p class="text-center">
    <a href="http://www.solar-aid.org/">SolarAid</a> is an international charity that combats poverty and climate change by providing 
    access to solar lights in some of the most remote regions of the world and building a movement to eradicate the kerosene lamp.
  </p>
</div>