<%= image_tag "homepage/project_3.jpg", alt: "Boy practicing writing his ABC's at night in his room" %>
<h4>BRING ELECTRICITY TO A VOCATIONAL SCHOOL FOR VULNERABLE CHILDREN</h4>
<h5><strong>Goal: $5,000</strong></h5>
<h4><a href="" data-reveal-id="js-learn-more-modal-3"><strong>Learn More</strong></a></h4>
<div id="js-learn-more-modal-3" class="reveal-modal small medium learn-more-modal" data-reveal>
  <a href="#" class="close-reveal-modal">&times;</a>

  <h5>BRING ELECTRICITY TO A VOCATIONAL SCHOOL FOR VULNERABLE CHILDREN IN TANZANIA</h5>
  <h5>Project Goal: $5,000</h5>
  <p>
    Provide a source of sustainable income for a vocational school serving at-risk youth in Tanzania and improve the quality and range of education available by equipping it with electricity.
  </p>

  <h5>THE PROBLEM</h5>
  <p>
    Out of school youth living in rural Tanzania have little to no opportunities to develop income generating skills in a safe and supportive environment. In those rare communities trying to initiate vocational schools for these underserved children, the lack of electricity and infrastructure limit the ability of the school to generate enough income to cover operational costs and provide a quality education for its students.
  </p>
  <h5>THE OPPORTUNITY</h5>
  <p>
    The Mary Ryan Foundation is improving access to educational opportunities for over 80 disadvantaged youth in Mbeya, Tanzania through its  vocational school in Ilembo. In 2014, Ilembo was one of many rural villages added to the TANESCO electric grid system in the country. Unfortunately, high installation and equipment costs have prevented most of the population from accessing this electricity. Bringing electricity and high quality electric-run products to the vocational school will expand opportunities to initiate new skills training for students and boost the school's ability to become self-sustaining.
  </p>

  <h5>HOW IT WORKS</h5>
  <p>
    Step 1: Power it up! The Mary Ryan Foundation Committee of Ilembo will oversee the installation of electricity at the vocational school in close coordination with TANESCO and local government leaders. Designated committee members will also ensure the purchase, safe transport and proper maintenance of the new equipment and supplies.
  </p>
  <p>
    Step 2: Any child or adolescent can enroll in the school and select their area of interest including sewing, carpentry, and masonry. Those who do not have the means to pay the minimal school fee are admitted free of charge.
  </p>
  <p>
    Step 3: Students are treated with respect and are welcomed as part of the community. They attend all-day classes five days per week just like their secondary school counterparts. Students also benefit from trainings on business and accounting, health education (including HIV prevention), and volunteer periodically at the community health center.
  </p>
  <p>
    Step 4: Students are trained on the new equipment by certified teachers. MRF Committee members also actively promote the new services available to the community which were previously not there, such as electric-powered wood cutting and sewing.
  </p>
  <p>
    Step 5: Community members pay to use the vocational school’s new wood cutting and machine and place orders with the school for clothing, construction and carpentry.
  </p>
  <p>
    Step 6: People of Ilembo get items and services they need while supporting vulnerable youth in their communities – quite an electrifying combo!
  </p>

  <h5>WHY IT’S IMPORTANT</h5>
  <p>
    Out of school youth are more likely to get into risky behaviors or run away from home to chase down a better life in “the city”. This often leads to homelessness, theft, HIV infection,  unwanted pregnancies, or worse.  Ilembo’s vocational school offers a healthy and fulfilling alternative in the form of valuable income generating and life skills, and a safe environment for youth to come together and build a better future for themselves. It is the first school of its kind in the area, and has been well-received by students, parents/caretakers, community leaders, and district officials. Many graduates of the school now own and operate their own businesses and are supporting themselves and their families.
  </p>

  <h5>SUSTAINABILITY</h5>
  <p>
    Sustainability is the name of the game for this project. In 2012, the Mary Ryan Foundation Committee of Ilembo developed a five-year sustainability action plan for the vocational school. Each year, external support is reduced, while the community’s contributions increase by using profits from selling furniture and construction to cover the operating costs. Initial funding for the school to obtain electricity will expand long-term opportunities to initiate new vocational skills training for students while boosting the school’s income and ability to stay on track toward sustainability.
  </p>

  <h5>SAMPLE OF GIFT ITEMS:</h5>

  <h6>Electricity installation supplies</h6>
  <ul class="disc">
    <li>Switches</li>
    <li>Sockets</li>
    <li>Breakers</li>
    <li>Wires</li>
    <li>Nuts n’ bolts</li>
  </ul>

  <h6>People power</h6>
  <ul class="disc">
    <li>Engineers</li>
    <li>Electricians</li>
    <li>Transport</li>
  </ul>

  <p class="text-center">
    The Mary Ryan Foundation (MRF) is a non-profit organization whose mission is to provide relief and assistance to impoverished communities within Tanzania, specifically by supporting orphans and children living in the most difficult environments within those communities.
  </p>

</div>