<img src="https://cdn.rawgit.com/Heartfully/registry-images/master/homepage/mufindi-large.jpg" alt: "Mufindi Village Image" />
<h4>LAUNCH THREE EARLY EDUCATION PROGRAMS IN TANZANIA</h4>
<h5><strong>Goal: $4,325</strong></h5>
<h4><a href="" data-reveal-id="js-learn-more-modal-1"><strong>Learn More</strong></a></h4>
<div id="js-learn-more-modal-1" class="reveal-modal small medium learn-more-modal" data-reveal>
  <a href="#" class="close-reveal-modal">&times;</a>

  <h5>LAUNCH THREE EARLY EDUCATION PROGRAMS IN TANZANIA</h5>
  <h5>Project Goal: $4,325</h5>
  <p>
    Transform three village classrooms into a place where young children can receive better education and compassionate support from teachers.
  </p>

  <h5>THE PROBLEM</h5>
  <p>
    Teachers in Tanzania deal with minimal training, a lack of classroom supplies, dire classroom conditions, and large classroom sizes (sometimes up to 100-150 students!) and little community support.  This results in not just poor learning outcomes for students, but a high teacher burn-out rate which contributes to the cycle of a low teacher-to-student ratio.
  </p>
  <h5>THE OPPORTUNITY</h5>
  <p>In 2010, the Early Childhood Education Department began to address a pressing need for young children to have a safe and stimulating environment to grow in mind and body. This program offers working parents a place for their children to receive nutritious food, age-appropriate education and a compassionate and loving environment.</p>
  <h5>HOW IT WORKS</h5>
  <ul>
    <li>
      1. The Mufindi Orphans Project selects a preschool class to participate in the outreach program.
    </li>
    <li>
      2. After a needs assessment, minor renovations or repairs are made as part of the classroom transformation
    </li>
    <li>
      3. Educational materials are purchased and set up in the classroom to create a supportive learning environment. Each classroom has five sections for children ranging in age from 3-7 years old: practical life, sensorial, math, language and culture and science.  This program uses an 'interactive' approach and all materials are at the children's level to take and use as they please.
    </li>
    <li>
      4. Mufindi Orphans Project staff conduct follow-up visits to ensure the new classroom materials are being used appropriately and are well-maintained.
    </li>
    <li>
      5. The community, teachers, and students benefit from a transformed learning space for years to come!
    </li>
  </ul>
  <h5>WHY IT’S IMPORTANT</h5>
  <p>
    The outreach program helps schools with the skills and tools they need to educate their children and to provide a loving environment for children to learn creativity, kindness, problem solving strategies, and of course, reading, writing and arithmetic.
  </p>
   
  <h5>SUSTAINABILITY</h5>
  <p>
    Sustainability is a key pillar to this program’s success. Communities pay for their preschool teacher's wage and institute school lunch programs funded by the parents.  In exchange, the Mufindi Orphans Project funds teacher training, classroom materials and renovations. They also walk side-by-side with community partners throughout the year to ensure all children are getting the best possible access to education and care.
  </p>

  <h5>SAMPLE OF GIFT ITEMS:</h5>
  <ul>
    <li>Classroom renovations</li>
    <li>Woven mats for story time</li>
    <li>Books</li>
    <li>Building blocks</li>
    <li>Blankets (Mufindi can get quite cold!)</li>
  </ul>

  <p class="text-center">
    The <a href="http://www.mufindiorphans.org/" target="_blank">Mufindi Orphans Project</a> provides shelter, sustenance, education, and medical care for vulnerable children and families in the Mufindi District of Tanzania; to curtail the spread of HIV/AIDS, to teach life skills (language, fiscal, vocation and self-sufficiency) and to create supportive networks and opportunities for future generations.
  </p>

</div>