<div class="c-test__center" id="testimonial-triggers">
  <svg class="c-icon--gray c-test__heart" style="width: 25px; height: 25px;"><use xlink:href="#icon-heart"></use></svg>
  <svg class="c-icon--gray c-test__heart" style="width: 25px; height: 25px;"><use xlink:href="#icon-heart"></use></svg>
  <svg class="c-icon--gray c-test__heart" style="width: 25px; height: 25px;"><use xlink:href="#icon-heart"></use></svg>
  <svg class="c-icon--gray c-test__heart" style="width: 25px; height: 25px;"><use xlink:href="#icon-heart"></use></svg>
  <svg class="c-icon--gray c-test__heart" style="width: 25px; height: 25px;"><use xlink:href="#icon-heart"></use></svg>
</div>
