<div class="c-test__center">
  <svg class="c-icon--gray c-test__heart" id="trigger-test-0" style="width: 25px; height: 25px;"><use xlink:href="#icon-heart"></use></svg>
  <svg class="c-icon--gray c-test__heart" id="trigger-test-1"style="width: 25px; height: 25px;"><use xlink:href="#icon-heart"></use></svg>
  <svg class="c-icon--gray c-test__heart" id="trigger-test-2"style="width: 25px; height: 25px;"><use xlink:href="#icon-heart"></use></svg>
</div>
