<div class="mb--large">
  <div class="test center">
    <h1 class="c-project-header__title">Frequently Asked Questions</h1>
  </div>
</div>

<div class="c-breaker purple mb--large">
  <div class="test center large pad-lr">
    We're here to help.
  </div>
</div>

<div class="test pad">
  <div class="r-flex">
    <div class="c-faq__more quiet small">
      <svg class="c-icon" style="fill: gray; margin-top: -3px; margin-right: 5px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
      <g>
        <path d="M27,9.6v-2L19.4,0H5v9.6l-5,5V28c0,2.2,1.8,4,4,4h24c2.2,0,4-1.8,4-4V14.6L27,9.6z M29.4,14.8L27,16.2v-3.8
          L29.4,14.8z M20,3.4L23.6,7H20V3.4z M18,2v7h7v8.4l-9,5.4l-9-5.4V2H18z M5,16.2l-2.4-1.4L5,12.4V16.2z M28,30H4c-1.1,0-2-0.9-2-2
          V16.8l14,8.4l14-8.4V28C30,29.1,29.1,30,28,30z"/>
        <path d="M11.2,17.6l4.8,3l4.7-3l0.1-0.1c1.6-1.3,2-2.7,2-3.6c0-1.1-0.4-2.2-1.3-3.1c-0.7-0.7-1.5-1-2.4-1
          c-1.2,0-2.4,0.6-3,1.1c-0.7-0.5-1.8-1.1-3-1.1c-0.9,0-1.8,0.4-2.4,1c-0.9,0.9-1.4,2-1.3,3.1C9.2,15,9.6,16.3,11.2,17.6z M11.9,12.3
          c0.3-0.3,0.6-0.4,1-0.4c0.9,0,2,0.8,2.3,1.2l0.7,0.7l0.7-0.7c0.3-0.3,1.4-1.2,2.4-1.2c0.4,0,0.7,0.1,1,0.4c0.3,0.3,0.8,0.9,0.7,1.6
          c0,0.7-0.5,1.4-1.3,2.1L16,18.3l-3.5-2.2c-0.8-0.7-1.2-1.4-1.3-2.1C11.2,13.3,11.6,12.7,11.9,12.3z"/>
      </g>
      </svg>
      <h4 style="display: inline; text-transform: uppercase; letter-spacing: 0.5pt;"><strong>Still Need help?</strong></h4>
      <p class="nudge-top--small">Have a question you don't see answered here? You can email us at <a href="mailto:info@heartful.ly">info@heartful.ly</a>.</p>

      <p class="nudge-top--small">For press inquiries, please contact Kate Glantz at <a href="mailto:kate@heartful.ly">kate@heartful.ly</a>.</p>

      <p class="nudge-top--small">Are you an NGO or program implementer interested in partnering with us?
For more information, visit the “Partner With Us” page of our website. You can also drop us a line at <a href="mailto:partnerships@heartful.ly">partnerships@heartful.ly</a>.</p>
    </div>
    <div class="c-faq__content">
      <ul class="c-faq__menu">
        <li class="faq_subject active" id="basics"><a href="#">The Basics</a></li>
        <li class="faq_subject" id="couple"><a href="#">Couples</a></li>
        <li class="faq_subject" id="guests"><a href="#">Guests</a></li>
      </ul>
      <div class="faq_content_section basics_content">
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">What is a charitable wedding registry?</h3>
          <p>It’s just like a regular gift registry, but instead of pots and pans, couples are raising awareness and money for a cause that’s important to them.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">What makes Heartful.ly special?</h3>
          <p>Heartful.ly registries feature real development projects and a memorable way to contribute. Instead of  general donations, guests select from gifts that represent real items from that project’s budget.</p>
          <p>
            <ul>
              <li><strong>It’s specific.</strong>  Heartful.ly connects couples with an actual development project, not only a cause or organization.  In turn, guests are purchasing gifts from a real list of items in the project’s budget. </li>
              <li><strong>It’s educational.</strong> On the couple's registry webpage, guests can learn more about the project and how it works.  During the project’s implementation, a progress update is shared with every generous donor.</li>
              <li>
              <strong>It’s lasting.</strong> The gifts on a Heartful.ly registry are like seeds that will blossom into opportunities of health, hope, and happiness for those in need.
              </li>
            </ul>
          </p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">How do you identify projects that need funding?</h3>
          <p>We partner with nonprofit organizations that share our desire to make the world safer, healthier, and more beautiful than we found it.  Our partners are vetted by our team of development professionals and by trusty independent evaluators like Charity Navigator and GuideStar.</p>
          <br>
          <p>
            Check out our full list of our partners <a href="/our-partners" style="color: #7D72DE">here</a>.
          </p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">What type of projects can we support?</h3>
          <p>Our project gallery is continuously evolving.  We feature projects across a broad range of sectors and are expanding rapidly to support domestic projects. <a href="/projects" style="color: #7D72DE">Browse</a> all projects and filter based on your preferences.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">How and when are the funds transferred to the nonprofit?</h3>
          <p>Heartful.ly registries will close 60 days after the couple’s wedding date unless otherwise stated. Funds are distributed on a rolling bimonthly basis to nonprofits. </p>
        </div>
      </div>
      <div class="faq_content_section couple_content">
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">How does it work?</h3>
          <p><ol>
            <li><strong>Create an Account.</strong> Choose a unique URL, share some basic information about your big day, and upload a few photos.</li>
            <li><strong>Select a Project.</strong> Browse vetted charitable projects by region or issue and select your favorite one.</li>
            <li><strong>Personalize and Share your registry</strong> Write a message to your guests letting them know what your chosen project means to you.</li>
            <li><strong>See the Impact.</strong> After your wedding, you and your guests will receive an update on how the project is helping people.</li>
          </ol></p>
          <i><a href="/registry/james-loves-alexis" style="color: #7D72DE;">View a sample registry</a></i>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">Can I create another registry for things I need?</h3>
          <p>Yes, of course!  We recommend you create a traditional gift registry in addition to your Heartful.ly registry.  Some wedding guests will feel more comfortable buying you a gift for your home and will appreciate the variety of options.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">How much does it cost?</h3>
          <p>There is no charge to create a registry or make a contribution. To keep the lights on and to ensure we’re providing the best service possible , we deduct a 9% service fee. There is also a 2.9% + $0.30 fee for credit card processing on each transaction.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">We don’t live in the United States. Can we still register?</h3>
          <p>Absolutely! Generosity knows no borders. We welcome couples from around the world to create a registry. If you encounter any challenges, give us a shout at hello@heartful.ly.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">What if we have questions about some of the projects?</h3>
          <p>
            That’s what we’re here for! We will walk you through the projects that interest you and make sure you have all the facts before registering. Drop us a line anytime at hello@heartful.ly.
          </p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">Where does the money raised through our registry go?</h3>
          <p>Funds raised through your registry will be transferred directly to the nonprofit implementing your selected project.  Gifts purchased in your honor are representative of the resources, services or support needed to implement the project. Funds are used where they are needed most within that program area or to address similar need.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">How do we know who donated on our behalf?</h3>
          <p>
            Every time someone purchases a gift from your registry, you’ll be notified by email and through a gift tracker that you can access when logged in to your Heartful.ly account.
          </p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">What happens if we need to cancel our registry?</h3>
          <p>
            Plans change, we understand.  There are no penalties for terminating your registry, however, we will not be able to return any donations.
          </p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">Is there an update on the project we supported?</h3>
          <p>
            Yes! About three months after your wedding, you and anyone who donated to your registry will receive an update on the progress of that project.
          </p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">What if the nonprofit we want to support is not a Heartful.ly partner?</h3>
          <p>We’ll go the extra mile to make it work. Let us know which organization and what sector of work you’d like to support and we’ll reach out to them. Send your request to partnerships@heartful.ly.
          </p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">Can we use Heartful.ly to fund our own charitable project?</h3>
          <p>This is something we’re happy to discuss on a case-by-case basis. Send us your thoughts at partnerships@heartful.ly and let’s think it through together.</p>
        </div>
      </div>
      <div class="faq_content_section guests_content">
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">How do I find a registry?</h3>
          <p>There are two ways to find a registry. First, go to www.heartful.ly and select “search” at the top of the homepage. From there, you’ll be able to search for the lovebirds. Every couple also has a unique URL that you can use to access the registry directly. Check their wedding website under the registry section for details.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">How do I buy a gift?</h3>
          <p>After you’ve added the items you want to purchase to your cart, select ‘checkout.’ From there, you’ll pay with a credit card and leave a note for the couple. That’s it! At this time, we do not accept other forms of payment.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">Are my donations secure?</h3>
          <p>Yes. We take your security very seriously.  First, all of your information is protected by a secure socket layer (SSL). Additionally, your financial information is managed by Stripe, a third-party payment processor that has been certified a PCI Service Provider Level 1 by Visa.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">Are the gifts I’m purchasing real?</h3>
          <p>Yes and no. The gifts listed are items in the project’s real budget. However, you are not specifically buying those gifts. Rather, they are representative of the resources, services or support needed to implement the project. Heartful.ly disburses funds raised from each registry to the nonprofit to provide assistance where it is needed most within that program area or to address similar need.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">Can I include a note for the couple with my donation?</h3>
          <p>Of course! When you check out, you’ll be able to leave a note for the couple. They will be notified of your gift and message through a gift tracker connected to their registry.</p>
        </div>
        <div class="mb--large">
          <h3 class="c-faq__question mb--small">Are you sharing my information with anyone?</h3>
          <p>The only personal information Heartful.ly stores is your first and last name and email. Unless you opt out, we will share your name and email with the organization implementing the project you supported. We will also use this information to send a progress update on the project you helped fund.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line"></div>

<!-- make this into a cta component -->
<div class="c-breaker center">
  <svg class="c-icon c-icon--status" style="width: 25px; height: 25px;"><use xlink:href="#icon-hearts-purple"></use></svg>
  <h3 class="roboto large mb">Are you ready to <span style="border-bottom: 2px solid #7D72DE;">share the love?</span></h3>
  <button class="c-button c-button--primary"><%= link_to 'Create a registry', new_registry_path %></button>
</div>

<%= render "shared/footer" %>
