.mb--xl
  .test.center
    %h1.c-project-header__title
      How It Works

.c-breaker.purple.mb--large
  .test.center.large.pad-lr
    We’ve taken the guesswork out of giving back on your wedding day. With vetted charities, elegant registries, and real-time donation tracking, sharing your love has never been easier. 

.c-breaker
  .test.r-flex
    .c-how-it-works-step
      .c-how-it-works-step__header.purple
        Create and personalize your Heartful.ly registry.
      .c-how-it-works-step__content
        = "Personalize your registry with photos, a message to your guests, and a custom URL. Get started."
    .c-how-it-works-image{style: "background-image: url('step-1.jpg'); background-size: cover; background-position: center;"}