<div class="row">
  <div id="banner-container" class="hero-banner">
  <h1>Build Love Where it's needed most</h1>
    <%= link_to "Create Your Registry", new_registry_path, :id => "cta-button", :class => "button large" %>
  </div>
</div>

<section class="row">

</section>

<section class="row accent-bg">
  <div class="small-12 medium-8 small-centered columns">


  </div>
</section>