<div>
  <div id="banner-container" class="hero-banner">
    <%= link_to "Create Your Registry", new_registry_path, :id => "cta-button", :class => "button large" %>
  </div>
</div>

<section class="row">

  <div class="small-12 medium-8 large-6 small-centered columns text-justify">

    <h2 class="text-center">How It Works</h2>

    <div class="row padded-bottom">
      <div class="small-6 large-3 columns">
        <img src="http://placekitten.com/g/200/200">
      </div>
      <p class="small-6 large-9 columns">
        Bacon ipsum dolor amet veniam filet mignon bresaola turkey fugiat capicola pancetta corned beef consectetur doner. Bresaola lorem quis alcatra.
      </p>
    </div>

    <div class="row padded-bottom">
      <p class="small-6 large-9 columns">
        Bacon ipsum dolor amet veniam filet mignon bresaola turkey fugiat capicola pancetta corned beef consectetur doner. Bresaola lorem quis alcatra.
      </p>
      <div class="small-6 large-3 columns">
        <img src="http://placekitten.com/g/200/200">
      </div>
    </div>

    <div class="row padded-bottom">
      <div class="small-6 large-3 columns">
        <img src="http://placekitten.com/g/200/200">
      </div>
      <p class="small-6 large-9 columns">
        Bacon ipsum dolor amet veniam filet mignon bresaola turkey fugiat capicola pancetta corned beef consectetur doner. Bresaola lorem quis alcatra.
      </p>
    </div>

  </div>
</section>

<section class="row accent-bg">
  <div class="small-12 medium-8 small-centered columns">

    <h2 class="text-center">Featured Projects</h2>

    <div class="small-12 large-4 columns zebra-bg panel">
      <img src="http://placekitten.com/g/350/250">
      <h5><a href="#">Awesome Project #1</a></h5>
      <p class="text-justify">Kielbasa jerky bresaola meatball salami brisket ground round doner frankfurter biltong bacon drumstick short loin. Chuck turducken pastrami, shank short ribs swine sausage shoulder bresaola ham hock bacon spare ribs pork chop short loin.</p>
    </div>

    <div class="small-12 large-4 columns white-bg panel">
      <img src="http://placekitten.com/g/350/250">
      <h5><a href="#">Awesome Project #1</a></h5>
      <p class="text-justify">Kielbasa jerky bresaola meatball salami brisket ground round doner frankfurter biltong bacon drumstick short loin. Chuck turducken pastrami, shank short ribs swine sausage shoulder bresaola ham hock bacon spare ribs pork chop short loin.</p>
    </div>

    <div class="small-12 large-4 columns zebra-bg panel">
      <img src="http://placekitten.com/g/350/250">
      <h5><a href="#">Awesome Project #1</a></h5>
      <p class="text-justify">Kielbasa jerky bresaola meatball salami brisket ground round doner frankfurter biltong bacon drumstick short loin. Chuck turducken pastrami, shank short ribs swine sausage shoulder bresaola ham hock bacon spare ribs pork chop short loin.</p>
    </div>

  </div>
</section>