<div>
  <div id="banner-container">
    <button data-reveal-id="js-signup-modal" id="cta-button" class="large round">Create Your Registry</button>
    <%= image_tag "widescreen-wedding.png", :id => "banner-img" %>
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-4 columns centered">
    <%= image_tag "love_logo.png" %>
    <h4>Match</h4>

    <p>We start off by matching your interests, personality and wedding information to a range of charitable organizations.</p>
  </div>

  <div class="large-4 columns centered">
    <%= image_tag "world_logo.png" %>
    <h4>Find</h4>

    <p>Find out more information about your matched charities, including what exactly your wedding guests will be able to contribute towards.</p>

  </div>

  <div class="large-4 columns centered">
    <%= image_tag "gift_logo.png" %>
    <h4>Give</h4>

    <p>Dedicate all or part of your registry to the charity of your choice and have your wedding guests help the world in your name.</p>
  </div>
</div>