<div class="row footer-pages">
  <h2 class="text-center"><span>Our Partners</span></h2>
  <p class="text-center main-paragraph">
    We love our partners! We are proud to support so many diverse and innovative organizations working tirelessly to make the world safer, healthier, and more beautiful than we found it. Learn more about their work below.
  </p>

  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0 our-partners">
    <div class="row">
      <div class="columns large-4 medium-4 small-12">
        <div class="image-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/greenway.png" /></div>
        <h3><span>Greenway</span></h3>
        <p>
          Location: India<br />
          Mission: Greenway was formed with the vision and ambition to serve rural consumers with high performance, affordable product based solutions. We deploy technologies into products through the process of user driven co-creation.<br />
          <a href="http://www.greenwayappliances.com/" target="_blank">Learn more</a> 
        </p>
      </div>
      <div class="columns large-4 medium-4 small-12">
        <div class="image-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/jiamini_logo.jpg" /></div>
        <h3><span>Jiamini</span></h3>
        <p>
          Location: Tanzania<br />
          Mission: To provide orphaned and vulnerable children in Tanzania with a quality education and a safe living environment, empowering them to become self-reliant contributors to their communities.<br />
          <a href="http://www.jiamini.com/" target="_blank">Learn more</a>
        </p>
      </div>
      <div class="columns large-4 medium-4 small-12">
        <div class="image-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/mh_logo.png" /></div>
        <h3><span>Many Hopes</span></h3>
        <p>
          Location: Kenya<br />
          Mission: To raise the network of children who will defeat the causes of extreme poverty in Kenya. We provide loving homes and excellent educations for orphaned and abandoned girls and raise them to be influencers as adults.<br />
          <a href="http://www.manyhopes.org/" target="_blank">Learn more</a> 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="columns large-4 medium-4 small-12">
        <div class="image-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/mary-ryan.jpg" /></div>
        <h3><span>Mary Ryan Foundation</span></h3>
        <p>
          Location: Tanzania<br />
          Mission: To empower disadvantaged youths in rural Tanzanian communities by working through community-led groups to increase access to quality primary, secondary and higher level education for the most vulnerable children, and establish accredited vocational and alternative livelihoods programs for out-of-school youth.<br />
          <a href="http://www.maryryanfoundation.org/" target="_blank">Learn more</a> 
        </p>
      </div>
      <div class="columns large-4 medium-4 small-12">
        <div class="image-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/mufindi-orphans.jpg" /></div>
        <h3><span>Mufindi Orphan Project</span></h3>
        <p>
          Location: Tanzania<br />
          Mission: To provide shelter, sustenance, education, and medical care for vulnerable children and families in the Mufindi District of Tanzania; to curtail the spread of HIV/AIDS, to teach life skills, and to create supportive networks and opportunities for future generations.<br />
          <a href="http://www.mufindiorphans.org/" target="_blank">Learn more</a> 
        </p>
      </div>
      <div class="columns large-4 medium-4 small-12">
        <div class="image-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/olive-branch.png" /></div>
        <h3><span>Olive Branch for Children</span></h3>
        <p>
          Location: Tanzania<br />
          Mission: To help remote communities in Tanzania assess their primary needs and establish programs that target the most vulnerable through grassroots programs focusing on HIV/AIDS prevention and care, early childhood education, food security, and vulnerable children and women.<br />
          <a href="http://www.theolivebranchforchildren.org/" target="_blank">Learn more</a> 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="columns large-4 medium-4 small-12">
        <div class="image-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/helps_logo.jpg" /></div>
        <h3><span>HELPS International</span></h3>
        <p>
          Location: Guatemala <br />
          Mission: To provide enduring programs of practical, social and spiritual value to the people in the developing world through a system of partnership and mutual responsibility.<br />
          <a href="http://www.helpsintl.org/" target="_blank">Learn more</a>
        </p>
      </div>
      <div class="columns large-4 medium-4 small-12">
        <div class="image-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/sem_final.jpg" /></div>
        <h3><span>SEM Fund</span></h3>
        <p>
          Location: Senegal<br />
          Mission: To provide acceptable and affordable technologies that meet basic energy needs without compromising the health or the environment of low-income communities in Africa.
          <a href="http://sem-fund.org/home/" target="_blank">Learn more</a>
        </p>
      </div>
      <div class="columns large-4 medium-4 small-12">
        <div class="image-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/solaraid_logo.jpg" /></div>
        <h3><span>SolarAid</span></h3>
        <p>
          Location: East and Southern Africa<br />
          Mission: To eradicate the kerosene lamp from Africa by 2020 by selling affordable and clean solar lights through our wholly owned social enterprise, SunnyMoney- creating sustainable markets across the continent.
          <a href="http://www.solar-aid.org/" target="_blank">Learn more</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="columns large-4 medium-4 small-12 large-offset-4 medium-offset-4 small-offset-0 end">
        <div class="image-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/wishes_for_elliot.jpg" /></div>
        <h3><span>Wishes for Elliot</span></h3>
        <p>
          Location: Worldwide<br />
          Mission: To support research to improve the lives and prognosis of children struggling with SCN8A mutations.
          <a href="www.wishesforelliott.org" target="_blank">Learn more</a>
        </p>
      </div>
    </div>

    <div class="row last-row">
      <p class="text-center">
        Are you an NGO or program implementer interested in partnering with us? Drop us a line at <a href="mailto:partnerships@heartful.ly">partnerships@heartful.ly</a>
      </p>
    </div>
  </div>
</div>