<div class="row footer-pages">
  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0">
    <h2 class="text-center secondary-color"><span>Partner with Us</span></h2>
    <p class="subheading text-center">
      Are you a non-profit organization implementing sustainable development projects in a low-income country? Our unique fundraising model ensures your organization will be introduced directly and intimately to new and compassionate communities across America. 
    </p>
  </div>

  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0 partner-w-us end">
     
    <div class="row">
      <div class="columns large-4 medium-4 small-12">
        <div class="text-center icon-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/awareness-Icon.png" /></div>
        <h3 class="text-center secondary-color"><strong>RAISE AWARENESS</strong></h3>
        <p>
          Did you know that the average couple invites 150 guests to their wedding? That’s 150 opportunities to raise the profile of your organization and the important work you do. Your name, logo, website and mission will be featured on our partners’ page and highlighted regularly on our blog and social media. Your organization’s name and website will also appear on the couples’ wedding registry webpage.
        </p>
      </div>
      <div class="columns large-4 medium-4 small-12">
        <div class="text-center icon-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/money-icon.png" /></div>
        <h3 class="text-center secondary-color"><strong>GET FUNDED</strong></h3>
        <p>
          Heartful.ly provides a unique, personalized crowdfunding platform to fund specific projects. We will work with your organization to develop a narrative and itemized gift list to package projects into wedding registries. After that, we take care of everything including safely and securely processing donations.
        </p>
      </div>
      <div class="columns large-4 medium-4 small-12">
        <div class="text-center icon-container"><img src="https://cdn.rawgit.com/Heartfully/registry-images/master/footer-pages/relationships-icon.png" /></div>
        <h3 class="text-center secondary-color"><strong>BUILD RELATIONSHIPS</strong></h3>
        <p>
          By asking guests to contribute to such a personal and significant wedding present, we believe your mission will resonate beyond the couple’s wedding day and will result in new friends, advocates and supporters of your organization and cause.
        </p>
      </div>
    </div>
    <div class="columns large-12 questions-section">
      <h3 class="text-center reg-text secondary-color"><strong>Questions? You can reach us at </strong><a href="mailto:partnerships@heartful.ly">partnerships@heartful.ly</a>.</h3>
    </div>
  </div>
  
</div>