<div class="row">
  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0 footer-pages">
    <h2>Partner with Us</h2>

    <h3>WHY PARTNER WITH US?</h3>
    <p>
      Are you a non-profit organization implementing sustainable development projects in a low-income country? Our unique fundraising model ensures your organization will be introduced directly and intimately to new and compassionate communities across America. 
    </p>
     
    <h3>GET FUNDED</h3>
    <p>
      Heartful.ly provides a unique, personalized crowdfunding platform to fund specific projects. We will work with your organization to develop a narrative and itemized gift list to package projects into wedding registries. After that, we take care of everything including safely and securely processing donations.
    </p>

    <h3>RAISE AWARENESS</h3>
    <p>
      Did you know that the average couple invites 150 guests to their wedding? That’s 150 opportunities to raise the profile of your organization and the important work you do. Your name, logo, website and mission will be featured on our partners’ page and highlighted regularly on our blog and social media. Your organization’s name and website will also appear on the couples’ wedding registry webpage.
    </p>
     
    <h3>BUILD RELATIONSHIPS</h3>
    <p>
      By asking guests to contribute to such a personal and significant wedding present, we believe your mission will resonate beyond the couple’s wedding day and will result in new friends, advocates and supporters of your organization and cause.
    </p>
  </div>
</div>