<div class="row">
  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0 footer-pages">

  <h2 class="text-center">Our Partners</h2>
  <p class="text-center">
    We love our partners! We are proud to support so many diverse and innovative organizations working tirelessly to make the world safer, healthier, and more beautiful than we found it.  Learn more about their work below.
  </p>

  <h3>Greenway</h3>
  <p>
    Location: India<br />
    Mission: Greenway was formed with the vision and ambition to serve rural consumers with high performance, affordable product based solutions. We deploy technologies into products through the process of user driven co-creation.<br />
    Learn more <a href="www.greenwaygrameen.com">(www.greenwaygrameen.com)</a> 
  </p>

  <h3>Jiamini</h3>
  <p>
    Location: Tanzania<br />
    Mission: To provide orphaned and vulnerable children in Tanzania with a quality education and a safe living environment, empowering them to become self-reliant contributors to their communities.<br />
    Learn more <a href="www.jiamini.com">(www.jiamini.com)</a>
  </p>

  <h3>Many Hopes</h3>
  <p>
    Location: Kenya<br />
    Mission: To raise the network of children who will defeat the causes of extreme poverty in Kenya. We provide loving homes and excellent educations for orphaned and abandoned girls and raise them to be influencers as adults.<br />
    Learn more <a href="www.manyhopes.org">(www.manyhopes.org)</a> 
  </p>

  <h3>Mary Ryan Foundation</h3>
  <p>
    Location: Tanzania<br />
    Mission: To empower disadvantaged youths in rural Tanzanian communities by working through community-led groups to increase access to quality primary, secondary and higher level education for the most vulnerable children, and establish accredited vocational and alternative livelihoods programs for out-of-school youth.<br />
    Learn more <a href="www.maryryanfoundation.org">(www.maryryanfoundation.org)</a> 
  </p>

  <h3>Mufindi Orphan Project</h3>
  <p>
    Location: Tanzania<br />
    Mission: To provide shelter, sustenance, education, and medical care for vulnerable children and families in the Mufindi District of Tanzania; to curtail the spread of HIV/AIDS, to teach life skills, and to create supportive networks and opportunities for future generations.<br />
    Learn more <a href="www.mufindiorphans.org">(www.mufindiorphans.org)</a> 
  </p>

  <h3>Olive Branch for Children</h3>
  <p>
    Location: Tanzania<br />
    Mission: To help remote communities in Tanzania assess their primary needs and establish programs that target the most vulnerable through grassroots programs focusing on HIV/AIDS prevention and care, early childhood education, food security, and vulnerable children and women.<br />
    Learn more <a href="www.theolivebranchforchildren.org">(www.theolivebranchforchildren.org)</a> 
  </p>

  <h3>HELPS International</h3>
  <p>
    Location: Guatemala <br />
    Mission: To provide enduring programs of practical, social and spiritual value to the people in the developing world through a system of partnership and mutual responsibility.<br />
    Learn more <a href="www.helpsintl.org">(www.helpsintl.org)</a>
  </p>

  <h3>SEM Fund</h3>
  <p>
    Location: Senegal<br />
    Mission: To provide acceptable and affordable technologies that meet basic energy needs without compromising the health or the environment of low-income communities in Africa.
    Learn more <a href="www.sem-fund.org">(www.sem-fund.org)</a>
  </p>

  <h3>SolarAid</h3>
  <p>
    Location: East and Southern Africa<br />
    Mission: To eradicate the kerosene lamp from Africa by 2020 by selling affordable and clean solar lights through our wholly owned social enterprise, SunnyMoney- creating sustainable markets across the continent.
    Learn more <a href="www.solar-aid.org">(www.solar-aid.org)</a>
  </p>

  <h3>Wishes for Elliot</h3>
  <p>
    Location: Worldwide<br />
    Mission: To support research to improve the lives and prognosis of children struggling with SCN8A mutations.
    Learn more <a href="www.wishesforelliott.org">(www.wishesforelliott.org)</a>
 </p>

  <p class="text-center">
    Are you an NGO or program implementer interested in partnering with us? For more information on how to feature your projects in Heartful.ly’s project gallery, visit  the “Partner With Us” section of our website. You can also drop us a line at<br /> <a href="mailto:partnerships@heartful.ly">partnerships@heartful.ly</a>
  </p>

  </div>
</div>