<div class="row">
  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0 footer-pages">
    <h2>FAQs</h2>
     
    <h3>The basics</h3>
     
    <h3>What is a charitable wedding registry?</h3>
    <p>
      A charitable wedding registry gives couples a platform to use their special day to raise awareness and money for a cause that is important to them.
    </p>
     
    <h3>What makes Heartful.ly special?</h3>
    <p>
      Just as traditional registries include lists of items that a couple wants or needs, a Heartful.ly registry includes a list of items that will be used to make the world a better place.
      <br />
      It’s specific.  Heartful.ly connects couples with a specific infrastructure or development project, not just a cause or organization.  In turn, guests are purchasing gifts from a real list of items in the project’s budget. 
      <br />
      It’s educational. On the couples’ registry webpage, guests can learn more about the project, why it’s important, and how the organization implementing it intends to deliver sustainable solutions.  Throughout the project’s implementation, two progress updates are shared with every generous contributor.
      <br />
      It’s personal. Anything related to a couple’s special day should reflect the personality of the lovebirds, not a corporation. Couples customize their registry page with photos and a personal message to guests.  We also remove our branding from the page except for a small footer.
      <br />
      It’s lasting. Each Heartful.ly registry builds a legacy of love that grows alongside the couple’s marriage and extends far beyond one day or one community.
    </p>

    <h3>Who are your partners?</h3>
    <p>
      We love all organizations that share our desire to make the world safer, healthier, and more beautiful than we found it.  Each partner has been vetted for a number of considerations. First and foremost, each organization must show total commitment to working side-by-side with the communities they serve. Our partners must also demonstrate sound monitoring and evaluation and accounting practices and have a track record for producing timely, sustainable, and quality results.
      <br />
      See the full list of our amazing partners and learn about them here.
    </p>

    <h3>What type of development projects can we choose from?</h3>
    <p>
      Our project gallery is continuously evolving.  We currently feature projects that improve outcomes for public health, the environment, alternative energy, women and girls, and education. While our primary focus is on infrastructure, we have a number of options that support life-enhancing programs and services like trainings for health workers, teachers, and vocational skills building for out-of-school young people. 
      <br />
      Is there another organization or cause missing from this list that you’d like to support? Send us a message at partnerships@heartful.ly and we’ll look into it!
    </p>
   
    <h3>Does Heartful.ly support projects in the United States?</h3>
    <p>
      At this time, we do not. While it is our goal to eventually support U.S. communities, we are first prioritizing low-income countries where your gift can make a greater and longer-lasting impact in an individual or community’s quality of life.
    </p>
   
   
    <h3>Couples</h3>
 
    <h3>How does it work?</h3>
    <ol>
      <li>Start by exploring our project gallery using filters to sort by regions, countries, or specific causes. Once you select the project you’d like to register for, we’ll prompt you to create an account.</li>
      <li>Within 48 hours, we will be in touch to schedule a brief consultation and answer any questions you have. Because these are real development projects impacting real communities, we want to make sure everyone is on the same page.</li>
      <li>After that, it’s time to add your personal touch and customize your registry page by creating your URL name (perfect chance to introduce that witty wedding hash tag), adding photos, and including a personal message.</li>
      <li>Once your registry is confirmed and customized, Heartful.ly will automatically add the project summary and gift list to your page.</li>
      <li>When you’re ready, share the link to your registry with your guests. They will be able to learn more about your project and purchase gifts on your behalf!</li>
    </ol>
   
    <h3>How much does it cost?</h3>
    <p>
      Registering with Heartful.ly is free for couples and their guests.  However, to keep the lights on and to ensure we’re creating the most user-friendly and positive experience possible, we deduct a 9% fee. There is also a 2.9% + $0.30 fee for credit card processing on each transaction. The rest of the funds go directly to project support with no other hidden administrative or overhead costs from the implementing partners lumped in. Compared to other fundraising platforms, Heartful.ly’s rates are considerably lower. We believe this strikes an ideal balance of ensuring your guests’ contributions make an impact without compromising on project quality.
    </p>
    <h3>Can I create another registry for things I need?</h3>
    <p>
      Yes, of course!  We actually recommend you create a traditional gift registry in addition to your Heartful.ly registry.  Some wedding guests will feel more comfortable buying you a tangible gift for your home and will appreciate the variety of options.
    </p>
    <h3>We don’t live in the United States. Can we still register?</h3>
    <p>
      Absolutely! Generosity knows no borders. We welcome couples from around the world to create a registry. If you encounter any challenges, give us a shout at info@heartful.ly.
    </p>

    <h3>What if we have questions about some of the projects?</h3>
    <p>
      That’s what we’re here for! We will walk you through the projects that interest you and make sure you have all the facts before committing. Drop us a line anytime at info@heartful.ly.
    </p>
   
    <h3>How do we know who donated on our behalf?</h3>
    <p>
      Every time someone purchases a gift from your registry, you’ll be notified by email and in a tracker affiliated with your account that is visible only to you and your partner.
    </p>
   
    <h3>How much do projects cost?</h3>
    <p>
      Every project has a distinct budget, but most range from $1,500-$7,000.
    </p>
   
    <h3>What happens if we don’t reach our funding goal?</h3>
    <p>
      If you don’t meet your goal, there are a number of options to ensure your guests’ contributions still make a big difference.  Depending on the timeline for the project you’re supporting, we will talk to the partner and see what activities can be carried out with the funds raised. Sometimes this is just a matter of scaling back targets or removing a certain component. Then, the funds raised are transferred directly to the partner and the revised set of activities can get underway!
      <br />
      You may also elect to reallocate the funds raised to another project that is similar and either less costly to implement or also fell short of funding. If you choose this option, the project must be implemented by the organization affiliated with your original project.
    </p>
 
    <h3>What happens if we need to cancel our registry?</h3>
    <p>
      Things happen, we understand.  There are no penalties for terminating your registry, however, we will not be able to return any donations already committed. Those funds will be transferred to the organization implementing the project you selected and will be used at their discretion.
    </p>
   
    <h3>Can we use Heartful.ly to fund our own charitable project?</h3>
    <p>
      This is something we’re happy to discuss on a case-by-case basis. Send us your thoughts at info@heartful.ly and let’s think it through together.
    </p>
   
    <h3>Guests</h3>
     
    <h3>How do I find a registry?</h3>
    <p>
      Select SEARCH at the top of Heartful.ly’s homepage. From there, you’ll be able to search for the lovebirds. Every couple has a unique URL that you can also use to access the registry directly. Check their wedding website under the registry section for details.
    </p>
     
    <h3>How do I buy a gift?</h3>
    <p>
      After you’ve added the items you want to purchase to your cart, select ‘check out.’ From there, you’ll pay with a credit card and leave a note for the couple. That’s it! At this time, we do not accept other forms of payment.
    </p>

    <h3>Are my donations secure?</h3>
    <p>
      Yes. We take your security very seriously.  First, all of your information is protected by a secure socket layer (SSL). Additionally, your financial information is managed by Stripe, a third-party payment processor that has been certified a <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.visa.com%2Fsplisting%2FsearchGrsp.do%3FcompanyNameCriteria%3Dstripe&sa=D&sntz=1&usg=AFQjCNF4GldDbs7ngKq45lwmHbKfQWgRLw">PCI Service Provider Level 1 by Visa</a>. The only personal information Heartful.ly stores is your first and last name and email. Unless you opt out, we will share your name and email with the organization implementing the project you supported. We will also use this information to send sporadic progress updates on the project you helped fund.
    </p>
     
    <h3>Am I really buying bricks and cement?</h3>
    <p>
      Yes and no. The gifts you purchase are not actually being shipped to someone’s home or in this case, project site. The vast majority of gifts are sourced locally for a number of reasons: supplies are less expensive, require minimal transport, and support the local economy. But wait, there’s more! The money you are contributing is going directly to fund that specific project. None of your contributions will support the organization’s overhead or administration costs.
    </p>
     
    <h3>Can I include a note for the couple with my donation?</h3>
    <p>
      Of course! When you check out, you’ll be able to leave a note for the couple. They will be notified of your gift and message via email and through a gift tracker connected to their registry.
    </p>
     
    <p>***</p>
    <h4>For press inquiries, please contact Kate Glantz at <a href="mailto:kate@heartful.ly">kate@heartful.ly.</a></h4>
     
    <h3>Are you an NGO or program implementer interested in partnering with us?</h3>
    <p>
      For more information on how to feature your projects in Heartful.ly’s project gallery, visit the “Partner With Us” page of our website. You can also drop us a line at <a href="mailto:partnerships@heartful.ly">partnerships@heartful.ly</a>
    </p>
  </div>
</div>