<div class="row">
  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0 footer-pages">
    <h3 class="text-center"><strong>Coming Soon!</strong></h3>
  </div>
</div>