<div class="row">
  <div class="columns large-10 large-offset-1 medium-12 medium-offset-0 small-12 small-offset-0 footer-pages">
    <h3>OUR MISSION</h3>
    <p>
      <strong>Heartful.ly</strong> celebrates life’s most important moments by connecting couples and their communities to locally-driven infrastructure and development projects around the world through a charitable gift registry platform. With its unique, personalized take on crowdfunding, Heartful.ly transforms weddings into vehicles for positive social change. 
    </p>
  </div>
</div>