<div>
  <%= f.label :couples_story, 'Your Story: How did you meet?' %>
  <div class="help">Go on, gush! Share your love story with your friends and family!</div>
  <%= f.text_area :couples_story, class: 'stretch mb--large' %>

  <%= f.label :registry_story, 'Your Registry: Why this project?' %>
  <div class="help">Explain why you are passionate about this project or organization and thank your guests for their generosity.  Haven't selected a project yet? Come back to this section at the end.</div>
  <%= f.text_area :registry_story, class: 'stretch mb--large' %>
</div>
