.project-container.auto-margin

.slide-footer
  %button#step-2-previous.refresh-slides.c-button.c-button--primary{type: "button"} Go Back
  %button#step-2-next.refresh-slides.c-button.c-button--primary{type: "button", style: "float: right;"} Next