<!-- Invite partner code -->
<%# if @partner_invite %>
  <%# if @partner_invite.new_record? %>
    <!-- <h2>Invite a Partner</h2> -->
    <%#= render 'partner_invites/form' %>
  <%# else %>
    <%#= render 'partner_invites/show' %>
  <%# end %>
<%# end %>

<%# if @partner %>
  <!-- Your partner is <%#= @partner.email %> -->
<%# end %>
<!-- END  -->

<div class="test">
  <h2>Editing registry</h2>
</div>

<%= render 'form' %>
