<div class="c-breaker gray">
  <div class="test">
    <div class="c-card ma" style="max-width:800px;"><!-- TODO: make card a helper instead of a component -->
    <div class="meta mb--large center">Create A Registry</div>
      <div style="margin: 0 auto 4em auto; font-size: 1.3em; text-align: center;">
        <div class="c-create__step mb">Step 3: Finishing Touches</div>
        <svg class="c-icon c-icon--large c-icon--gray"><use xlink:href="#icon-cake"></use></svg>
        <span class="c-create__line"></span>
        <svg class="c-icon c-icon--large c-icon--gray"><use xlink:href="#icon-globe"></use></svg>
        <span class="c-create__line"></span>
        <svg class="c-icon c-icon--large" style="fill: #61AFFF;"><use xlink:href="#icon-preview"></use></svg>
      </div>


      <%= render "form" %>
      <%#= render "shared/project-mini" %>
    </div>
  </div>
</div>
