<div class="row">
  <div id="registry-banner-container" class="hero-banner lindsey-and-matt">
    <div class=" large-12 columns ">
    <h1>Lindsey & Matt</h1>
    <h3><span>Wedding Registry</span></h3>
    </div>
    <a href="#target" class="scroll"><i class="fa fa-caret-down"></i></a>
  </div>
</div>
<div class="row couple-bio-section" id="target">
  <div class="large-4 columns" id="couple-profile-photo">
    <img src="https://cdn.rawgit.com/Heartfully/registry-images/master/matt_and_lindsey/matt_and_lindsey_profile_photo.jpg" alt="Marissa & Travis' Profile Photo" />
  </div>
  <div class="large-8 columns">
    <h2>Our Story</h2>
    <p> We caught each others eye many moons ago, became Badger alums, and soon moved across the country to explore new adventures. We are excited about the unknown...but our wedding date is for sure!
    </p>
    <h2>Our Registry</h2>
    <p>We wanted to fund a project that grows along with our marriage, while also giving to others on a global scale. We believe it is important that healthcare empowers people to care for themselves. Through our registry we can help spread knowledge and wellness! We invite you to choose items on our behalf to support this project.
    </p>
  </div>
</div>
<div class="row couple-project" id="couple-project-div">
  <div class="large-6 columns">
    <h3>Our Project</h3>
    <p>The <span class="project-name">Home-Based Care Program</span> is a 21-day seminar to train community health workers in rural Tanzania  on a variety of health topics, with a focus on HIV prevention, care and treatment. 
    </p>

    <div class="text-center learn-more"><a href="" class="button small" data-reveal-id="js-learn-more-modal">Learn More</a></div>
    <div id="js-learn-more-modal" class="reveal-modal small medium learn-more-modal learn-more-modal-fixed-height" data-reveal>
      <a href="#" class="close-reveal-modal">&times;</a>

      <h3>The Problem</h3>
      <p>Although great improvements have been made over the past decade in HIV prevention, care and treatment in Tanzania, Iringa region remains one of the highest affected with an HIV prevalence of 9.1%. 
      </p>

      <h3>The Opportunity</h3>
      <p>With proper training, community health workers can become a critical part of curbing new HIV infections, dispelling health myths and misconceptions, and ensuring those living with HIV access and adhere to treatment.
      </p>

      <h3>How it Works</h3>
      <ol>
        <li>22 community volunteers are selected for training on a diverse array of health topics.</li>
        <li>Following the training, the newly certified community health workers report to their local health center to receive their client list predominantly comprised of people living with HIV/AIDS.
        </li>
        <li>Each week, the trained community health workers visit their clients and spreads accurate health knowledge to empower their community.
        </li>
        <li>Accurate health knowledge and treatment is brought to people’s homes, thereby reaching the most vulnerable groups who might otherwise not seek help at a health facility. 
        </li>
      </ol>

      <h3>Why it's Important</h3>
      <p> Unlike their facility-based counterparts, community health workers are able to couple their clinical skills with a deep rooted understanding of and respect for local culture and traditions. From wound cleaning, to HIV/AIDS counseling, to educating families about maternal and child health, home- based care volunteers can and are making a real impact in their communities.
      </p>

      <h3>Sustainability</h3>
      <p>The training is conducted by Tanzanian medical professionals to local Tanzanian community volunteers, allowing for education to spread throughout the community at a grassroots level.  This education ultimately travels to neighbors and friends as the volunteer builds trust within their community.  This leads to healthier parents and children.  In the long term, a healthy household means more food on the table and more opportunities for education and income generation.
      </p>

    </div>

    <h3>Thanks To <span>You</span>, This Project is: </h3>
    <div class="text-center" id="fund-meter-div">
      <img src="https://cdn.rawgit.com/Heartfully/registry-images/master/homepage/fund_meter.png" id="fund-meter" />
      <span id="percentage-funded"><%= calc_percentage(@registry) %>%</span> 
    </div>
    <h3 class="toBeFundedOrNot">Funded</h3>
  </div>
  <div class="large-6 columns small-only-text-center medium-only-text-center large-only-text-right">
      <%= image_tag "https://cdn.rawgit.com/Heartfully/registry-images/master/matt_and_lindsey/matt_and_lindsey_project_photo.jpg", alt:"Lindsey and Matt's Project Photo" %>
  </div>
</div>

<div class="row registry-list-container medium-12 large-9">
  <h2>HELP US BUILD A HEALTHIER FUTURE IN TANZANIA</h2>
  <%= render partial: 'purchase_form' %>
</div>