<div class="row">
  <div id="registry-banner-container" class="hero-banner">
    <div class=" large-12 columns ">
    <h1>Eva & Peter</h1>
    <h3><span>Wedding Registry</span></h3>
    </div>
    <i class="fa fa-caret-down"></i>
  </div>
</div>
<div class="row couple-bio-section">
  <div class="large-4 columns" id="couple-profile-photo">
    <%= image_tag"peter_and_eva_profile_photo.jpg", alt:"Peter & Eva profile photo" %>
  </div>
  <div class="large-8 columns">
    <h2>Our Story</h2>
    <p>New to Austin and ready for new adventures, we met in 2009. For five years we've traveled, frolicked, danced, laughed and made incredible friends together. In November of last year Pete proposed on the deck of a ferry onto Vancouver Island, and it was utterly perfect. Now we get to spend the rest of our lives looking for new adventures together.
    </p>
    <h2>Our Registry</h2>
    <p>When we spent last summer in Senegal, we got to know some incredible people doing innovative work. Some of our new friends there work at a social enterprise that provides entrepreneurial training to women in Senegal. Their approach is progressive and impactful, and we are excited to be a part of the organization's growth through Heartful.ly. We invite you to help us fund this project by choosing a donation below. Merci beaucoup!
    </p>
  </div>
</div>