<div class="test center c-project-header pt-l">
  <div class="meta">Project</div>
  <h1 class="c-project-header__title"><%= @project.name %></h1>
  <%= button_to 'Select this project for our registry', select_project_path(@project.url_slug), class: 'c-button c-button--primary nudge-top--small' %>
</div>
