<div class="test">
  <div class="c-project-steps">
    <h2 class="c-project-steps__title">How It Works</h2>
    <div class="c-project-steps__list">
      <div class="c-project-steps__list-left"></div>
      <ul class="c-project-steps__list-right">
        <li class="c-project-steps__list-item">
          The volunteer medical teams for HELPS missions are comprised of about 90 members, ranging from physicians and surgeons to nurses and support staff.
        </li>
        <li class="c-project-steps__list-item">
          During a mission, surgical and medical volunteers set up shop in vacant hospitals, filling empty rooms with medicine, supplies and other surgical equipment to provide healthcare services that are as close as possible to U.S. quality standards.
        </li>
        <li class="c-project-steps__list-item">
          Free health care during these missions is accessible to all Guatemalans, regardless of income level enabling lives to be saved and long-term disabilities averted.
        </li>
      </ul>
    </div>
  </div>
</div>
