<% content_for(:page_title, "Pick Your Project!") %>

<% content_for :backbone_bootstrap do %>
  <% tag(:meta, :class => "bootstrapped-json", :id => "projects-json", :data => { projects: @projects, categories: @categories }) %>
<% end %>

<% content_for :load_js do %>
  <%= javascript_include_tag('projects') %>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <h2>Pick Your Project!</h2>
  </div>
</div>

<div id="js-projects-list" class="row projects-list" />
