<br>
<section class='card center'>
  Thank you! Your submission has been received. We will review the project statement and let you know if we have any questions or concerns within 5 business days. You'll receive a confirmation email with a link to the content once it’s published.
</section>
