// base button
.c-button {
  border: 3px solid $color-purple-deep;
  color: $color-purple-deep;
  background: #fff;
  text-transform: uppercase;
  letter-spacing: 0.8pt;
  @include avenir-demi;
  padding: 10px;
  outline: none;
  @include vendor-prefix(transition, 0.2s ease-in-out);
  &:hover {
    background: $color-purple-deep;
    color: #fff;
  }
  &--big {
    font-size: 1.5em;
    padding: 10px 40px;
  }
}

// primary action button
.c-button--primary {
  background: $color-purple-deep;
  color: #fff;
  &:hover {
    border: 3px solid $color-purple-deep-hover;
    background: $color-purple-deep-hover;
  }
}

// secondary button
.c-button--secondary {
  background: $color-light-gray;
  border: 3px solid $color-light-gray;
  color: $color-medium-gray;
  &:hover {
    background: $color-light-gray;
    color: #fff;
  }
}

.c-button--disabled {
  background: $color-light-gray;
  color: $color-medium-gray;
  border: $color-light-gray;
  &:hover {
    cursor: default;
    background: $color-light-gray;
    color: $color-medium-gray;
    border: $color-light-gray;
  }
}

.link--secondary {
  text-transform: uppercase;
  letter-spacing: 1pt;
  padding-bottom: 5px;
  @include avenir-bold;
  border-bottom: 1px solid $color-purple-deep;
  &:hover {
    color: $color-purple-deep;
    border-bottom: 1px solid $color-purple-deep-dark;
  }
}
