.c-footer {
	padding: $padding-base 0 $padding-base/2 0;
	background: $color-purple-deep-dark;
	color: #fff;
  &__list, &__social {
    display: block;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      line-height: 1.6;
    }
    li a {
      color: $color-purple-light;
      opacity: 0.8; 
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__social {
    li {
      display: inline-block;
    }
  }
  &__terms {
    text-align: center;
    @include avenir-demi;
    text-transform: uppercase;
    color: #211D42;
    line-height: 1.6;
    font-size: 0.75em;
  }
}
