.c-footer {
	padding: $padding-base 0;
	background: $color-purple-deep-muted;
  font-size: 0.8em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.2pt;
	@include vendor-prefix(font-smoothing, initial);
}
