// FAQ page
.c-faq {
  &__more,
  &__content {
    display: inline-block;
    vertical-align: top;
  }
  &__more {
    width: 25%;
    margin-right: 5%;
    line-height: 1.5;
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    border: 1px solid $color-light-gray;
    padding: $padding-base/2;
    border-radius: 5px;
    @media (max-width: $break-large) {
      width: 100%;
      margin-bottom: $padding-base;
    }
    a {
      text-decoration: underline;
    }
  }
  &__menu {
    list-style: none;
    padding: 0;
    margin: 0 0 $padding-base 0;
    @include avenir-demi;
    li {
      text-align: center;
      min-width: 30%;
      display: inline-block;
      @include font-subhed;
      color: $color-medium-gray;
      font-size: 1.3em;
      border-bottom: 1px solid $color-purple-light;
      padding: $padding-base/4;
      &.active,
      &:hover {
        cursor: pointer;
        color: $color-purple-deep-muted;
        border-bottom: 1px solid $color-purple-deep;
      }
      @media (max-width: $break-small) {
        width: 100%;
        margin-bottom: $padding-base/2;
      }
    }
  }
  &__content {
    width: 70%;
    @media (max-width: $break-large) {
      width: 100%;
    }
  }
  &__question {
    font-size: 1.3em;
    color: $color-purple-deep;
  }
}
