// how it works on the homepage
.c-how {
  &__title {
    font-size: 1.6em;
  }
  &__step {
    width: 30%;

    @media (max-width: $break-large) {
      width: 100%;
      margin-bottom: $padding-base;
    }
  }
  &__step-number {
    color: lighten($color-medium-gray, 15%);
    text-transform: uppercase;
    @include avenir-demi;
    font-size: 0.9em;
    letter-spacing: 1pt;
  }
  &__step-title {
    font-size: 1.3em;
    text-align: center;
  }
  &__step-description {
    max-width: 85%;
    font-size: 1.025em;
  }
  &__visual {
    height: 250px;
    background-color: $color-light-gray;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
    margin-bottom: 10px;
  }
}
a.c-how__step-view {
  font-size: 0.85em;
  @include avenir-demi;
  color: $color-medium-gray;
  &:hover {
    color: $color-dark-gray;
  }
  text-align: center;
}
