.c-project-about {
  &__photo {
    width: 365px;
    height: 235px;
    background: url('http://d11sa1anfvm2xk.cloudfront.net/index/versions/campaigners/images/clean-water@2x.jpg');
    background-size: cover;
  }
  &__overview {
    margin-left: $padding-base;
    width: 60%;
  }
  &__meta {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
    font-size: 0.8em;
    color: $color-medium-gray;
  }
  &__link {
    //font-weight: bold;
    color: $color-medium-gray;
    &:hover {
      color: $color-purple-muted;
    }
  }
}
