// "Selected Partners" breaker
.c-partners {
  text-align: center;
  &__logo {
    max-width: 100%;
    max-height: 70px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    @media (max-width: $break-medium) {
      display: block;
      margin: 0 auto;
      margin-bottom: 2em;
    }
  }
}

// Partner component on Our Partners page
.c-partner {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: $padding-base;
  border: 1px solid $color-light-gray;
  padding: $padding-base;
  border-radius: 5px;
  background: #fff;
  width: $break-large - 25;
  @media (min-width: $break-large) {
    width: 430px;
    &:not(:last-child) {
      margin-right: percentage(((100-90)/2)/100);
    }
  }
  &__name {
    text-align: center;
    @include avenir-bold;
  }
  &__logo-wrap {
    text-align: center;
  }
  &__logo {
    max-width: 100%;
    max-height: 150px;
  }
}
