.c-project-tabbed {
	margin: $padding-base auto ($padding-base*2) auto;
	&__header {
		position: relative;
		height: 400px;
		background: url('//images.nationalgeographic.com/wpf/media-live/photos/000/279/cache/students-santa-avelina_27917_600x450.jpg');
		background-size: cover;
		background-position: 50% 50%;
		color: #fff;
	}
	&__header--overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient((rgba(0,0,0,0.2)), rgba(0,0,0,0.6));
	}
	&__header--wrapper {
		position: absolute;
		bottom: $padding-base;
		padding: $padding-base;
		z-index: 1;
		text-align: center;
	}
	&__header--subtitle {
		@include font-meta;
    color: #fff;
	}
	&__header--title {
		@include font-subhed;
		font-size: 2.8em;
		@media (max-width: $break-large) {
			font-size: 2em;
		}
	}
	&__menu {
		min-width: 250px;
		display: inline-block;
		margin: 0;
		padding: 0;
		padding-right: $padding-base;
		@media (max-width: $break-large) {
			display: none;
		}
	}
	&__menu-item {
		display: block;
		margin: $padding-base/4 0;
		padding-left: $padding-base/2;
		border-right: 5px solid rgba(0,0,0,0);
		font-size: 0.9em;
		@include font-meta;
		text-transform: uppercase;
		letter-spacing: 0.5pt;
		color: $color-dark-gray;
		&.active,
		&:hover {
			border-left: 5px solid lighten($color-purple-deep, 25%);
			color: $color-purple-deep;
		}
	}
	&__content {
		padding: $padding-base;
		@media (max-width: $break-large) {
			padding: $padding-base 0;
		}
	}
	&__content--overview--summary {
		font-size: 1.5em;
		min-width: 50%;
		@media (max-width: $break-large) {
			margin-bottom: $padding-base;
		}
	}
	&__content--overview--partner {
		min-width: 25%;
		margin-left: $padding-base/2;
		border: 1px solid $color-light-gray;
		padding: $padding-base/2;
		border-radius: 5px;
		font-size: 0.9em;
		h4 {
			@include avenir-demi;
		}
		@media (max-width: $break-large) {
			//display: none;
			margin: 0;
		}
	}
	&__menu-small {
		@media (min-width: $break-large) {
			display: none;
		}
		border: 2px solid $color-purple-deep;
		padding: $padding-base/2;
		margin-bottom: $padding-base;
		font-size: 0.9em;
		@include avenir-bold;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.5pt;
		color: $color-purple-deep;
	}
}
