.c-project-mini {
  .c-project-tabbed__header--overlay {
    @include vendor-prefix(transition, 0.2s ease-in-out);
  }
  &:hover {
    .c-project-tabbed__header--overlay {
      opacity: 0.5;
    }
    .c-project-mini__title {
      @include vendor-prefix(transform, translateY(-10px));
    }
  }
  &__header {
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
  }
  &__title {
    @include vendor-prefix(transition, 0.2s ease-in-out);
    z-index: 1;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 1.8em;
    padding: $padding-base/2;
    @include font-subhed;
  }
  &__info {
    padding: $padding-base;
    border-left: 1px solid $color-light-gray;
    border-right: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
    border-radius: 0 0 10px 10px;
    line-height: 1.6;
  }
  @media (max-width: $break-large) {
    margin-bottom: $padding-base;
  }
}
