.c-registry-card {
	padding: $padding-base;
	margin-bottom: $padding-base;
	border: 1px solid $color-light-gray;
	border-radius: 5px;
	background: #fff;
	@include vendor-prefix(transition, 0.2s ease-in-out);
	box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
	// background: #5a87e8; /* Old browsers */
	// background: -moz-linear-gradient(-45deg, #5a87e8 0%, #8e48e2 100%, #207cca 100%, #814ff7 100%); /* FF3.6+ */
	// background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#5a87e8), color-stop(100%,#8e48e2), color-stop(100%,#207cca), color-stop(100%,#814ff7)); /* Chrome,Safari4+ */
	// background: -webkit-linear-gradient(-45deg, #5a87e8 0%,#8e48e2 100%,#207cca 100%,#814ff7 100%); /* Chrome10+,Safari5.1+ */
	// background: -o-linear-gradient(-45deg, #5a87e8 0%,#8e48e2 100%,#207cca 100%,#814ff7 100%); /* Opera 11.10+ */
	// background: -ms-linear-gradient(-45deg, #5a87e8 0%,#8e48e2 100%,#207cca 100%,#814ff7 100%); /* IE10+ */
	// background: linear-gradient(135deg, #5a87e8 0%,#8e48e2 100%,#207cca 100%,#814ff7 100%); /* W3C */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a87e8', endColorstr='#814ff7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	//color: #fff;
	// on smaller screens, expand to 100% width
	&.flex-2 {
		@media (max-width: $break-large) {
			width: 100%;
		}
	}
	&:hover {
		@include vendor-prefix(transform, translateY(-10px));
	}
	&__title {
    font-weight: normal;
		//color: $color-purple-muted;
		margin-bottom: ($padding-base/2);
	}
	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__price {
		font-size: 2em;
    //color: $color-medium-gray;
	}
  &__gift,
	&__cart {
		position: relative;
		overflow: hidden;
		span {
			z-index: 1;
			width: 100%;
		}
	}
	&__qty {
		opacity: 0;
		height: 0;
		overflow: hidden;
		@include vendor-prefix(transition, 0.2s ease-in-out);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include vendor-prefix(transform, translateY(-30%));
		&.active {
			opacity: 1;
			height: auto;
			padding: $padding-base 0px;
			border-top: 1px solid $color-light-gray;
			margin-top: $padding-base;
			-webkit-animation: grow 0.2s ease-in-out forwards;
		}
	}
	&__qty-input label {
		//font-size: 0.85em;
		font-weight: normal;
	}
  &__qty-input input {
    width: 50px;
  }
}

@-webkit-keyframes grow {
	0% {
		height: 0;
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		height: auto;
		@include vendor-prefix(transform, translateY(0%));
		opacity: 1;
	}
}
