.c-subhed {
	&__info {
		margin: 0 0 10px 0;
		text-transform: uppercase;
		text-align: center;
		@include font-meta;
		font-size: 0.95em;
		color: $color-medium-gray;
	}
	&__text {
		margin-top: 0;
		text-align: center;
		font-family: 'Roboto Slab';
		font-weight: 300;
		font-size: 2.1em;
		-webkit-font-smoothing: antialiased;
		&:after {
			content: '';
			display: block;
			margin: 10px auto 0 auto;
			max-width: 0;
			border-bottom: 5px solid $color-purple-deep;
			// include animation
			-webkit-animation: line 1.5s forwards;
		}
	}
}

@-webkit-keyframes line {
	0% {
		max-width: 0;
	}
	100% {
		max-width: 30%;
	}
}
