// testimonials on the homepage
.c-test {
  max-width: 800px;
  &__title {
    font-size: 1.6em;
  }
  &__quote {
    max-width: 85%;
    font-size: 1.5em;
    color: $color-medium-gray;
  }
  &__photo {
    width: 300px;
    height: 300px;
  }
  &__names {
    text-align: right;
    font-size: 0.6em;
    color: $color-purple-deep;
  }
  &__next {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    &:hover{
      fill: darken($color-light-gray, 10%);
    }
  }
  &__center{
    text-align: center;
  }
  &__heart{
    &:hover{
      fill: darken($color-light-gray, 10%);
    }
  }
}
