// testimonials on the homepage
.c-test {
  max-width: 800px;
  text-align: right;
  &__content {
    min-height: 300px;
    @media (max-width: $break-large) {
      min-height: 600px;
    }
  }
  &__title {
    font-size: 1.6em;
  }
  &__text {
    padding-top: 5%;
    @media (max-width: $break-large){
      padding-top: 0;
    }
  }
  &__quote {
    font-size: 1.5em;
    text-align: left;
    color: $color-medium-gray;
  }
  &__photo {
    width: 300px;
    height: 300px;
    max-width: 100%;
  }
  &__names {
    color: $color-purple-deep;
    em{
      font-size: 1.2em;
    }
  }
  &__next {
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translate(0, -50%);
    &:hover{
      fill: darken($color-light-gray, 10%);
    }
    @media (max-width: $break-large) {
      display: none;
    }
  }
  &__center{
    display: block;
    text-align: center;
  }
  &__heart{
    &:hover{
      fill: lighten($color-purple-deep, 10%);
    }
  }
}
