%header.c-hero
  %video#campaign-video.video__player{:autoplay => ""}
    %source{:src => asset_path("campaign.mp4"), :type => "video/mp4"}
  .c-hero__container
    %h1
      Share the love this holiday season.
    %h4
      Donate life-changing gifts in honor of your loved ones.    