<div class="c-about mb--xl">
  <div class="test">
    <div class="center">
      <svg class="c-icon mb" style="width: 25px; height: 25px;"><use xlink:href="#icon-hearts-purple"></use></svg>
    </div>
    <div class="c-paragraph ma">
      <h2 class="c-subhed__text mb--xl">
        Celebrate with a gift from the heart.
      </h2>
      <div class="c-circle ma mb--large" style='background-image: url(<%=  "#{@registry.profile_image.url}" %>);'></div>
      <p class="c-paragraph__text">
        <%= @registry.registry_story %>
      </p>
    </div>
  </div>
</div>
