.faq
  .heading.auto-margin.mb--large
    Frequently asked questions
  .faq-questions.auto-margin.mb--large
    .question-row
      .question-container.flex-field-2.mb
        .question.mb
          Is my donation tax-deductible?
        .answer
          It is! Right after your order is placed, you will receive an email confirmation that will serve as an official receipt for tax purposes.
      .question-container.flex-field-2.mb
        .question.mb
          How do I know these organizations are legitimate?
        .answer
          Each of these nonprofits have gone through a rigorous due diligence review, satisfy IRS guidelines for international grant-making and tax deductibility, and follow Treasury Department guidelines for anti-terrorism.
    .question-row
      .question-container.flex-field-2.mb
        .question.mb
          What information will my loved ones receive regarding my donation?
        .answer
          Your loved one will receive a virtual card at 7am EST on the day of your choosing. The email will contain the item donated on their behalf (i.e. meals for children), the message you wrote, and an overview of the nonprofit receiving the donation. We do not disclose the amount of your donation in the message.
      .question-container.flex-field-2.mb
        .question.mb
          What is Heartful.ly?
        .answer
          Founded on the belief that life’s most important moments are the best times to give back, Heartful.ly is a donation platform that empowers people to celebrate in a more meaningful way. Heartful.ly registries and gifts are an elegant and impactful alternative (or addition) to traditional gifts.
  .faq-footer.auto-margin
    .quiet
      Still have questions? Email us at hello@heartful.ly