.instructions.mb--large
  #select
    .auto-margin
      %svg{style: "width: 40px; height: 40px;", :viewbox => "0 0 64 64", :preserveaspectratio => "xMinYMax slice"}
        %use{"xlink:href" => "#gift-large"}
    %span
      <strong>Select</strong> a charitable gift
  #write
    .auto-margin
      %svg{style: "width: 40px; height: 40px;", :viewbox => "0 0 512 512", :preserveaspectratio => "xMinYMax slice"}
        %use{"xlink:href" => "#notepad"}
    %span
      <strong>Write</strong> a sweet note
  #watch
    .auto-margin
      %svg{:style => "width: 30px; height: 30px;", :preserveaspectratio => "xMinYMax slice"}
        %use{"xlink:href" => "#icon-globe-purple"}
    %span
      <strong>Watch</strong> the love grow