.instructions.mb--large{style: "display: flex; height: 150px; justify-content: space-around; align-items: center; background-color: #F2EFF9;"}
  %span
    %svg{style: "width: 25px; height: 25px;", :viewbox => "0 0 64 64", :preserveaspectratio => "xMinYMax slice"}
      %use{"xlink:href" => "#gift-large"}
    <strong>Select</strong> a charitable gift
  %span
    %svg{style: "width: 20px; height: 20px;", :viewbox => "0 0 512 512", :preserveaspectratio => "xMinYMax slice"}
      %use{"xlink:href" => "#notepad"}
    <strong>Write</strong> a sweet note
  %span
    %svg{:style => "width: 20px; height: 20px;", :preserveaspectratio => "xMinYMax slice"}
      %use{"xlink:href" => "#icon-globe-purple"}
    <strong>Watch</strong> the love grow