@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// Custom Fonts
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2f4562");
@import url("//hello.myfonts.net/count/2f456e");


@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: font-url('2F4562_0_0.eot');
  src: font-url('2F4562_0_0.eot?#iefix') format('embedded-opentype'),
       font-url('2F4562_0_0.woff2') format('woff2'),
       font-url('2F4562_0_0.woff') format('woff'),
       font-url('2F4562_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: font-url('2F4562_1_0.eot');
  src: font-url('2F4562_1_0.eot?#iefix') format('embedded-opentype'),
  font-url('2F4562_1_0.woff2') format('woff2'),
  font-url('2F4562_1_0.woff') format('woff'),
  font-url('2F4562_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: font-url('2F456E_0_0.eot');
  src: font-url('2F456E_0_0.eot?#iefix') format('embedded-opentype'),
       font-url('2F456E_0_0.woff2') format('woff2'),
       font-url('2F456E_0_0.woff') format('woff'),
       font-url('2F456E_0_0.ttf') format('truetype');
}

@mixin avenir-demi {
  font-family: 'AvenirNextLTPro-Demi', Helvetica, Arial, sans-serif;
}

@mixin avenir-bold {
  font-family: 'AvenirNextLTPro-Bold', Helvetica, Arial, sans-serif;
}

@mixin font-heading {
  font-weight: normal;
  font-size: 1.35rem;
  color: #7D72DE;
}

@mixin font-subhed {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
}

@mixin font-meta {
	@include avenir-demi;
	text-transform: uppercase;
	letter-spacing: 0.5pt;
	@include vendor-prefix(font-smoothing, antialiased);
}

@mixin font-fancy {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-style: italic;
}

// Tinted overlays for images
.overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

// a long horizontal line
.line {
  border-top: 1px solid $color-light-gray;
  height: 1px;
}

.underline {
  text-decoration: underline;
}

// RESPONSIVE FLEXBOX
// Usage: Place this class on a parent element
// if you'd like the children to be displayed
// as two columns and expand to full-width
// on smaller breakpoints
.r-flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  @media (max-width: $break-large) {
    display: block;
    .flex-2 {
      width: 100%;
      margin-bottom: $padding-base;
    }
  }
}

.r-flex-wrap {
  @extend .r-flex;
  flex-wrap: wrap;
}

.subhed {
  @include font-subhed;
}

.purple {
  color: $color-purple-deep;
}

.section {
  margin-bottom: $padding-base*2;
}

.meta {
	@include font-meta;
  &--ul {
    &:after {
      content: '';
      display: block;
      margin: 5px auto $padding-base/2 auto;
      max-width: 50px;
      border-bottom: 3px solid #fff;
    }
  }
}

.block {
  display: block;
}

.pad {
  padding: $padding-base 0;
}

.pad-lr {
  padding: 0 $padding-base;
}

.stretch {
  width: 100%;
}

.skinny {
  width: 75%;
}

.quiet {
  color: $color-medium-gray;
}

// type

.small {
  font-size: 0.85em;
}

.large {
  font-size: 1.5em;
  line-height: 1.5;
}

.xl {
  font-size: 2em;
}

.roboto {
  @include font-subhed;
  em {
    @include font-meta;
    font-style: normal;
    font-weight: 700;
  }
}

.ma {
  margin: 0 auto;
}

.mb {
  margin-bottom: $padding-base/2;
}

.mb--large {
  margin-bottom: $padding-base;
}

.mb--xl {
  margin-bottom: $padding-base*2;
}

.mb--small {
  margin-bottom: $padding-base/4;
}

.pt {
  padding-top: $padding-base;
}

.pt-l {
  padding-top: $padding-base*2;
}

.inline {
  display: inline-block;
}

.vm {
  vertical-align: middle;
}

.nudge-top {
  margin-top: $padding-base;
}

.nudge-top--small {
  margin-top: $padding-base/2;
}

.nudge-top--large {
  margin-top: $padding-base*2;
}

.center {
	text-align: center;
}

// Columns
.col {
	display: inline-block;
	vertical-align: top;
	padding-right: $padding-base;
	&:last-child {
		padding-right: 0;
	}
}

.col-1-2 {
	width: 49%;
}

// Flex children
.flex {
	display: flex;
	justify-content: space-around;
  align-items: flex-start;
}

.flex--sb {
  justify-content: space-between;
}

// Overrides justify-content space-around to be flex-start
// so that items do not have large awkward spaces in between
// and that items are not weirdly centered.
.flex--start {
  justify-content: flex-start;
}

// if you want flexbox in a two column layout
.flex-2 {
	width: 45%;
}

// if you want a 60%, 40% divide between two children
.flex-60 {
  width: 50%;
}

.flex-40 {
  width: 40%;
}

.border {
  padding: $padding-base;
  border: 0 px solid #eee;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 0 0 hsla(0, 0%, 0%, 0.1);
}

// Links
.link--danger {
  color: $color-danger;
  &:hover {
    color: darken($color-danger, 20%);
  }
}

.link--neutral {
  color: $color-dark-gray;
}

.error {
  padding: 10px;
  color: #FF4D4D;
  border: 1px solid #FF4D4D;
  background: #FFDADA;
  line-height: 1.5;
}

.red {
  color: $color-danger;
}
