@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin font-heading {
  font-weight: 700;
  font-size: 1.35rem;
  color: #525252;
  //font-family: 'Lora', Georgia, Times New Roman, serif;
}

@mixin font-subhed {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  @include vendor-prefix(font-smoothing, antialiased);
}

@mixin font-meta {
	font-family: 'Hind', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.5pt;
	font-weight: 600;
  color: lighten($color-medium-gray, 15%);
	@include vendor-prefix(font-smoothing, antialiased);
}

@mixin font-fancy {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-style: italic;
}

// TODO:
// input style mixins
// button focus/outline mixins

.section {
  margin-bottom: $padding-base*2;
}

.c-breaker {
	padding: ($padding-base*2) 0;
	&.gray {
		background: $color-breaker-gray;
	}
	&.purple {
		background: $color-purple-light;
    color: $color-purple-deep-muted;
	}
  &.white {
    background: #fff;
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
  }
  &.blue {
    background: $color-blue-light;
    color: $color-blue-dark;
  }
}

.meta {
	@include font-meta;
}

.block {
  display: block;
}

.stretch {
  width: 100%;
}

.skinny {
  width: 75%;
}

.quiet {
  color: $color-medium-gray;
}

.small {
  font-size: 0.85em;
}

.ma {
  margin: 0 auto;
}

.mb {
  margin-bottom: $padding-base/2;
}

.mb--large {
  margin-bottom: $padding-base;
}

.mb--xl {
  margin-bottom: $padding-base*2;
}

.mb--small {
  margin-bottom: $padding-base/4;
}

.pt {
  padding-top: $padding-base;
}

.pt-l {
  padding-top: $padding-base*2;
}

.inline {
  display: inline-block;
}

.nudge-top {
  margin-top: $padding-base;
}

.nudge-top--small {
  margin-top: $padding-base/2;
}

.nudge-top--large {
  margin-top: $padding-base*2;
}

.center {
	text-align: center;
}

// Columns
.col {
	display: inline-block;
	vertical-align: top;
	padding-right: $padding-base;
	&:last-child {
		padding-right: 0;
	}
}

.col-1-2 {
	width: 50%;
}

// Flex children
.flex {
	display: flex;
	justify-content: space-around;
  align-items: flex-start;
}

// if you want flexbox in a two column layout
.flex-2 {
	width: 45%;
}

// if you want a 60%, 40% divide between two children
.flex-60 {
  width: 50%;
}

.flex-40 {
  width: 40%;
}
