.date-select-container {

  label, select {
    display: inline-block;
    width: 24%;
    padding: 0 2%;
  }
}

.file-upload-container {
  label, input {
    display: inline-block;
    width: auto;
    padding: 0 2%;
  }
}