$footer_height : 15em;

* {
  margin: 0;
}
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto;
  margin-bottom: -$footer_height;
}
footer, #push {
  height: $footer_height;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

footer {
  @extend section;
  color: $white;
  background-color: $tuatara;

  h1, h2, h3, h4, h5, h6 { color: $white; }
  // remove below later most likely? 
  .columns:nth-child(n+2) {
    // border-left: 1px solid #b3b3b3;
  }
}

#logo-footer {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  text-transform: none;
  a {
    color: $white;
  }
}

.social-links {
  i {
    font-size: 2.5em;
    color: $white;
    padding: 0 0.3em;
  }
}

.company-address {
  height: 6.9em;
  a {
    position: relative;
    top: 15%;
    transform: translateY(-50%);
    font-family: 'Quicksand', sans-serif;
    color: $white;
    font-kerning: 130px;
    line-height: 17px;
  }
}

.about-us-footer {
  height: 6.9em;
  li {
    margin: auto;
    width: 60%;
    &:first-child {
      margin-top: 0.8em;
    }
    a {
      font-family: 'Quicksand', sans-serif;
      color: $white;
      line-height: 24px;
    }
  }
}

.contact-footer {
  height: 6.9em;
  li {
    margin: auto;
    &:first-child {
      margin-top: 0.9em;
    }
    a {
      font-family: 'Quicksand', sans-serif;
      color: $white;
      line-height: 24px;
      text-transform: uppercase;
    }
  }
}

.nav-footer {
  float: left!important;
  height: 6.9em;
  li {
    margin: auto;
    &:first-child {
      margin-top: 0.9em;
    }
    a {
      font-family: 'Quicksand', sans-serif;
      color: $white;
      line-height: 24px;
      text-transform: uppercase;
    }
  }
}

.terms-and-rights {
  margin-top: 1em;
  div {
    padding: 0;
    margin: 0;
    .line-center{
      margin:0;
      padding:0 10px;
      background: $tuatara;
      display:inline-block;
      padding: 0 1.5em;
    }
    h6 {
      text-align:center;
      position:relative;
      z-index:2;
    }
    h6:after {
      content:"";
      position:absolute;
      top:35%;
      left:0;
      right:0;
      border-top:solid 0.15em $white;
      z-index:-1;
      font-family: 'Quicksand', sans-serif;
      line-height: 24px;
    }
  }
}