.footer-pages {
  padding-top: 8em;
  .main-paragraph {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  a:hover {
    font-weight: bold;
  }
  h2 {
    span {
      background: white;
      padding: 30px;
      text-align : center; 
    }
    &+* {
      border-top: solid 2px $quinary-color;
      padding-top: 28px;
      margin-top: -34px;
    }
  }
}
.faq-page {
  padding-top: 4.2em;
  .faq-banner-photo {
    background: image-url("footer-pages/faq_photo.jpg") center center;
    background-position: center;
  }
  .table-of-contents {
    margin: 0;
    padding-top: 1em;
    text-align: center;
    li {
      font-size: 1.5em;
      width: 33.33%;
      margin: 0;
    }
  }
  .faq-list {
    li:before { 
      content: "";
      border-color: transparent #111;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 0.9em;
      position: relative;
    }
  }
}

#the-basics, #couples, #guests {
  margin-top: 2em;
}


.our-mission div p strong {
  font-size: 1.2em;
  color: $primary-color;
}

.about-us {
  padding-top: 4.2em;
  .about-us-banner {
    background-image: image-url("footer-pages/about_us_banner.jpg");
    background-position: top center;
  }
  h3 span {
    background: white;
    padding: 20px;
    text-align : center; 
  }
  h3+* {
    border-top: solid 2px $quinary-color;
    padding-top: 28px;
    margin-top: -28px;
  }
  .columns {
    padding: 2em 0 4em 0;
    .team {
      img {
        border: 2px solid $secondary-color;
        border-radius: 8em;
        border-bottom-left-radius: 0;
      }
      .team-description {
        text-align: center;
        h4,h5 {
          font-weight: bold;
        }
        a {
          text-decoration: none;
          i {
            font-size: 3em;
            padding: 0 0.2em;
          }
          .fa-twitter-square {
            color: #61A8DF;
          }
          .fa-linkedin-square {
            color: #1683BC;
          }
        }
      }
    }
  }
}

.faq-page .faq-banner-photo, .about-us .about-us-banner {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  height: 16em;
  background-size: cover;
  h2 {
    color: $white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.8em;
    font-size: 3em;
    text-shadow:  1px 2px 2px black;
  }
}

.partner-w-us {
  .subheading {
    margin-bottom: 4em;
  }
  .row {
    .icon-container {
      height: 17em;
      img {
        position: relative;
        top: 50%;
        @include vert-center;
      }
    }
    p {
      margin: 1.5em 0 8em 0;
    }
  }
  .questions-section {
    padding-bottom: 4em;
  }
}
@media all and (max-width: 1220px) { .partner-w-us { h3 { font-size: 1.2em; }}}

.row .our-partners, .js-project-list {
  .row {
    .columns {
      .image-container {
        height: 16em;
        text-align: center;
        img {
          max-width: 100%;
          max-height: 100%!important;
          @include vert-center;
        }
      }
      h3 {
        text-align: center;
      }
      a { font-size: 1.4em; }
    }
  }
  .last-row {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}