$footer_height : 15em;
$footer_height_small : 36em;

* {
  margin: 0;
}
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto;
  margin-bottom: -$footer_height;
}

footer, #push { height: $footer_height; }

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

footer {
  @extend section;
  color: $white;
  background-color: $primary-color;

  h1, h2, h3, h4, h5, h6 { color: $white; }
}

.logo-footer {
  line-height: 0;
  h1 {
    font-family: 'Pacifico', cursive;
    text-transform: none;
    a {
      color: $white;
    }
  }
  i {
    font-size: 2.5em;
    color: $white;
    padding: 0 0.3em;
  }
}

.mailing-address {
    padding: 1.4em 0 1em 0;
    display: inline-block;
  a {
    color: $white;
    font-kerning: 130px;
    line-height: 17px;
    text-transform: uppercase;
  }
}

.about-us-footer, .company-info, .contact-us {
  padding: 1em 0 0 0;
  .footer-links {
    display: inline-block;
    li {
      clear: both;
      a {
        color: $white;
        line-height: 24px;
        text-transform: uppercase;
      }
    }
  }
}

.contact-us {
  float: left!important;
}

.terms-and-rights {
  margin-top: 1em;
  div {
    padding: 0;
    .line-center{
      background: $primary-color;
      display:inline-block;
      padding: 0 1.5em;
      text-transform: none;
    }
    h6 {
      text-align:center;
      position:relative;
      z-index:2;
    }
    h6:after {
      content:"";
      position:absolute;
      top:40%;
      left:0;
      right:0;
      border-top:solid 0.15em $white;
      z-index:-1;
      line-height: 24px;
    }
  }
}

@media all and (max-width: 1025px) {
  .logo-footer { h1, i {font-size: 2.2em;}}
  .mailing-address { font-size: 0.8em; padding-right: 0; }
  .about-us-footer, .company-info, .contact-us {
    .footer-links {
      margin: 0;
      li {
        font-size: 0.8em;
      }
    }
  }
}

@media all and (max-width: 780px) {
  .logo-footer { h1, i {font-size: 1.6em;} h1 { padding-top: 0.3em;}}
  .mailing-address { font-size: 0.7em; padding-top: 1.8em; }
  .about-us-footer, .company-info, .contact-us {
    .footer-links {
      li {
        font-size: 0.7em;
      }
    }
  }
}

@media all and (max-width: 641px) {
  #wrapper { margin-bottom: -$footer_height_small }
  footer, #push { height: $footer_height_small; }
  footer { padding-top: 1em;}
  .logo-footer { h1, i {font-size: 2.2em;}}
  .mailing-address { font-size: 0.9em; padding-right: 0; }
  .about-us-footer, .company-info, .contact-us {
    .footer-links {
      margin: 0;
      text-align: center;
      li {
        font-size: 0.9em;float: none!important;
      }
    }
  }
  .terms-and-rights {
    h6 {
      font-size: 0.8em;
    }
  }
}