footer {
  @extend section;
  color: $white;
  background-color: $tuatara;

  h1, h2, h3, h4, h5, h6 { color: $white; }

  .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}