$secondary_font : 'Raleway', sans-serif;

h1, h2, h3, h4, h5, h6 { -webkit-text-transform: uppercase; -ms-text-transform: uppercase; text-transform: uppercase;}

ul {
  list-style: none;
}

section { padding: 3em 0px; }

.accent-bg { background-color: $secondary-color; }
.zebra-bg { background-color: $gainsboro; }
.white-bg { background-color: $white; }

section.accent-bg {
  h2 { color: #fff; }
}

.no-margin { margin: 0px; }
.no-padding { padding: 0px; }

.row.padded { margin: 1em 0px; }
.row.padded-bottom, .base-margin-bottom { margin-bottom: 1em; }
.row.padded-top { margin-top: 1em; }

.alert-box {
  position: fixed;
  top: 10px;
  width: 50%;
  left: 25%;
  z-index: 99999;
}

.fa-close {
  cursor: pointer;
}

.hero-banner {
  @include bg-size(cover);
  background-color: #a3adb6;
  background-position: center top;
  height: 600px;
  text-align: center;
}

.profile-circular {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.pagination {
  margin-top: 20px;

  li {
    font-size: 1.2em;
  }
}

.underline {
  text-decoration: underline;
}

.loading-overlay {
  background: rgba(0, 0, 0, 0.5); // TODO: change to mixin/variable
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 99999;
}

.loading-gif {
  height: 60px;
  width: 60px;
  margin: -30px auto 0px;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, 0.15);
  border-right: 6px solid rgba(0, 174, 239, 0.15);
  border-bottom: 6px solid rgba(0, 174, 239, 0.15);
  border-top: 6px solid rgba(0, 174, 239, 0.8);
  border-radius: 100%;
  top: 50%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

