h1, h2, h3, h4, h5, h6 { text-transform: uppercase; }

ul {
  list-style: none;
}

section { padding: 3em 0px; }

.accent-bg { background-color: $secondary-color; }
.zebra-bg { background-color: $gainsboro; }
.white-bg { background-color: $white; }

section.accent-bg {

  h2 { color: #fff; }
}

.no-margin { margin: 0px; }
.no-padding { padding: 0px; }

.row.padded { margin: 1em 0px; }
.row.padded-bottom, .base-margin-bottom { margin-bottom: 1em; }
.row.padded-top { margin-top: 1em; }

.alert-box {
  position: fixed;
  top: 10px;
  width: 50%;
  left: 25%;
  z-index: 99999;
}

.hero-banner {
  @include bg-size(cover);
  background-color: #a3adb6;
  background-position: center top;
  height: 600px;
  text-align: center;
}

.profile-circular {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.pagination {
  margin-top: 20px;

  li {
    font-size: 1.2em;
  }
}