header {
  background-color: rgba(#959595, 1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-home {
 
}

.header-opaque {
  background-color: rgba(#959595, 0.4);
}

/*#main-nav-container {
  @include vert-center;
  right: 0px;
}*/

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  -webkit-text-transform: none;
  text-transform: none;
  a {
    color: $white;
    &:hover {
      color: $primary-color;
    }
  }
}

header {
  #main-nav-container {
    .top-bar-section .inline-list {
        float: right;
        clear: both;
      li {
        &, a {
          background: none;
          border: none;
        }
        &:last-child {
          padding-right: 1.5em;
        }
        a {
          padding: 0.4em 0 0 2.5em;
          font-family: $secondary-font;
          font-size: 1.2em;
          font-kerning: 130px;
          font-weight: bold;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

#hamburger-menu {
  display: none;
  color: white;
}

@media all and (max-width: 780px) {
  header #main-nav-container .top-bar-section .inline-list li {
    &:last-child {
      padding-right: 0.8em;
    }
    a {
      padding: 0.6em 0 0 1.6em;
    }
  }
}

@media all and (max-width: 680px) {
  #hamburger-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 2.4em;
    padding: 0.1em 0.4em 0 0;
      &:hover {
      color: $primary-color;
    }
  }
  header #main-nav-container {
    clear: both;
  }
  header #main-nav-container  {
    width: 100%; 
    padding: 0;
    .top-bar-section .inline-list { 
      display: none; 
      li:last-child { 
        padding: 0; 
      } 
    } 
  }
  header #main-nav-container .top-bar-section .show-menu-js {
    display: block;
    li {
      text-align: center;
      margin: 0;
      display: block;
      width: 100%;
      a {
        font-size: 1em;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

@media all and (max-width: 300px) {
  #logo { padding-top: 0.4em; font-size: 1.8em; }
}