header { 
  position: absolute;
  z-index: 2;
  background-color: rgba(#959595, 0.4);
}

/*#main-nav-container {
  @include vert-center;
  right: 0px;
}*/

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  text-transform: none;
  a {
    color: $white;
    &:hover {
      color: $secondary-font-color;
    }
  }
}

header {
  #main-nav-container {
    .top-bar-section .inline-list {
      li {
        &, a {
          background: none;
          border: none;
        }
        &:last-child {
          padding-right: 1.5em;
        }
        a {
          padding: 0.4em 0 0 2.5em;
          font-family: $secondary-font;
          font-size: 1.2em;
          font-kerning: 130px;
          font-weight: bold;
        }
      }
    }
  }
}

#hamburger-menu {
  display: none;
  color: white;
}

@media all and (max-width: 780px) {
  header #main-nav-container .top-bar-section .inline-list li {
    &:last-child {
      padding-right: 0.8em;
    }
    a {
      padding: 0.6em 0 0 1.6em;
    }
  }
}

@media all and (max-width: 680px) {
  header #main-nav-container #hamburger-menu {
    display: block;
    font-size: 2.4em;
    padding: 0.2em;
    float: right;
    &:hover {
      color: $secondary-font-color;
    }
  }
  header #main-nav-container .top-bar-section .inline-list {
    display: none;
    clear: both;
    float: right;
  }
  header #main-nav-container .top-bar-section .show-menu-js {
    display: block;
    width: 100%;
    li {
      text-align: right;
      padding: 0;
      display: block;
      float: right;
      width: 100%;
      clear: both;
      a {
        font-size: 1em;
        &:hover {
          color: $secondary-font-color;
        }
      }
    }
  }
}