#banner-container {
  background-image: image-url("homepage_image.jpg");
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;

  div {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    outline: none;
    z-index: 1;
    h1 {
      font-family: $main_font;
      font-size: 5em;
      color: $white;
      font-weight: bold;
    }

    #cta-button {
      background: rgba($main-font-color, 0.75);
      font-family: $secondary_font;
      color: $white;
      border-radius: 1em;
    }

    #cta-button:hover + img {
      opacity: 0.55;
    }
  }
  i {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: $white;
    font-size: 7em;
  }
}