#banner-container {
  position:relative;
  background-image: image-url("homepage_image.jpg");
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;

  div {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    outline: none;
    z-index: 1;
    h1 {
      font-family: $main_font;
      font-size: 5em;
      color: $white;
      font-weight: bold;
    }

    #cta-button {
      background: rgba($main-font-color, 0.75);
      font-family: $secondary_font;
      color: $white;
      border-radius: 1em;
      &:hover {
        background: rgba($main-font-color, 1);
      }
    }
  }
  i {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: $white;
    font-size: 7em;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }
}

@media all and (max-width: 1120px) {
  #banner-container div h1 {
    font-size: 4em;
  }
}
@media all and (max-width: 900px) {
  #banner-container div h1 {
    font-size: 3em;
  }
}
@media all and (max-width: 680px) {
  #banner-container div h1 {
    font-size: 2em;
  }
  #cta-button {
    font-size: 1.1em;
  }
}