#banner-container {
  position:relative;
  background-image: image-url("homepage/homepage_image.jpg");
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;

  div {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    outline: none;
    z-index: 1;
    h1 {
      font-size: 5em;
      color: $white;
      font-weight: bold;
    }

    #cta-button {
      background: rgba($primary-color, 0.75);
      font-family: $secondary_font;
      color: $white;
      border-radius: 1em;
      font-kerning: 130px;
      &:hover {
        background: rgba($primary-color, 1);
      }
    }
  }
}
.caret-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  i {
    color: $white;
    font-size: 7em;
    opacity: 0.75;
    width: 64px;
    margin-left: -32px;
    &:hover {
      opacity: 1;
    }
  }
}

.heartfully-summary {
  padding: 4em;
  div:first-child {
    h2 {
      width: 90%;
      font-family: $secondary_font;
      text-align: center;
      margin: auto;
      font-size: 4em;
      border-bottom: 0.1em solid $quinary-color;
    }
    p {
      font-size: 1.5em;
      padding-top: 1.2em;
      width: 70%;
      margin: auto;
      color: $quaternary-color;
      text-align: center;
    }
    a:hover {
      color: $secondary-color;
    }
  }
  div:last-child {
    padding: 2em 0.2em;
    iframe { width: 80%; }
  }
}

.heartfully-how-it-works {
  padding: 3em;
  background: #F5F5F5;
  .how-it-works-paragraph {
    text-align: center;
    p {color: $secondary-color;}
  }
  h2 {
    color: $quaternary-color;
    text-align: center;
  }
  .line-center {
    background: #F5F5F5;
    display:inline-block;
    padding: 0 2em;
    text-transform: none;
  }
  div:first-child {
    div h2 {
      position:relative;
      z-index:2;
      &:after {
        content:"";
        position:absolute;
        top:50%;
        left: 1%;
        right: 1%;
        border-top:solid 0.12em $quinary-color;
        z-index:-1;
        line-height: 24px;
      }
    }
  }
  div:last-child {
    div {
      h2 {
        font-weight: bold;
        font-size: 1.8em;
      }
      div {
        height: 13em;
        text-align: center;
        img {
          width: 10em;
          margin-top: 2em;
        }
      }
      p {
        color: $quaternary-color;
      }
    }
  }
}

.heartfully-projects-we-love {
  padding: 6em;
  div.project-container {
    border: 0.4em solid $quinary-color;
    position: relative;
    h2 {
      text-align: center;
      position: absolute;
      background: $white;
      width: 40%;
      height: 1.4em;
      margin: auto;
      top: -0.8em; left: 0; right: 0;
    }
    h3 {
      background: $white;
      width: 35%;
      height: 2em;
      text-align: center;
      margin: auto;
      position: absolute;
      left: 0; bottom: -1.2em; right: 0;
      a.button {
        border-radius: 0.6em;
        font-size: 0.8em;
      }
    }
    div {
        margin-top: 6em;
      div {
        text-align: center;
        margin: 0;
        img {
          border: 0.35em solid #C2C2C2;
          width: 80%;
        }
        p {
          height: 250px;
          color: $quaternary-color;
          padding: 1em 2em;
          text-align: left;
          font-size: 1.4em;
          overflow: auto;
        }
        h4 {
          padding: 1em 0.5em 2em 0.5em;
          font-size: 1em;
        }
      }
    }
  }
}

#js-learn-more-modal-1, #js-learn-more-modal-2, #js-learn-more-modal-3 {
  height: 45em;
  overflow: auto;
}

#js-explore-modal {
  text-align: center;
}

@media all and (max-width: 1120px) {
  #banner-container div h1 {
    font-size: 4em;
  }
}
@media all and (max-width: 900px) {
  #banner-container div h1 {
    font-size: 3em;
  }
}
@media all and (max-width: 680px) {
  #banner-container div h1 {
    font-size: 2em;
  }
  #cta-button {
    font-size: 1.1em;
  }
  .heartfully-summary {
    padding: 4em 0;
    div:first-child {
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 0.8em;
      }
    }
  }
  .heartfully-projects-we-love div.project-container {
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1em;
    }
  }
}

@media all and (max-width: 500px) {
  .heartfully-projects-we-love {
    padding: 1.2em;
    margin-bottom: 4em;
    div.project-container {
      h2 {
        font-size: 1.2em;
      }
      h3 {
        font-size: 0.8em;
        a.button {
          padding: 0.8em;
        }
      }
      div {
        margin-left: 0;
        margin-right: 0;
        div p {
          font-size: 1em;
        }
      }
    }
  }
}

@media all and (max-width: 300px) {
  .heartfully-summary div:first-child h2 { font-size: 1.2em; }
  .heartfully-how-it-works {
    div div h2 .line-center {
      padding: 0;
    }
    div:last-child div h2 { font-size: 1.2em; }
  }
}