.registry-container {
  .slider {
    margin-bottom: 20px;

    .slick-slide, .slick-slide *{ outline: none !important; }
    .slide-footer {
      display: none;

      .finalizing {
        display: none;

        img {
          display: inline-block;
        }
      }
    }
  }

  .strong {
    font-family: 'AvenirNextLTPro-Bold', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
  }

  .hero {
    height: 300px;
    background-image: image_url('registry-hero.jpg');
    background-size: cover;
    background-position: 50% 50%;
    @media (max-width: $break-medium) {
      height: 150px;
    }
  }

  .header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    span {
      width: 20%;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      color: $color-medium-gray;
      @include avenir-demi;
      cursor: pointer;
      @media (max-width: $break-medium) {
        font-size: 0.6em;
      }

      &.disabled {
        cursor: auto;
      }
    }
  }

  form {
    #registry-types {
      display: flex;
      width: 50%;
      margin: 0 auto;
      @media (max-width: $break-medium) {
        width: 100%;
      }

      .non-selected {
        opacity: 0.4;
      }

      .registry-type {
        cursor: pointer;

        .registry-icon {
          width: 40px;
          margin: 0 auto;

          svg {
            height: 40px;
            width: 40px;
            stroke: #333;
          }
        }
      }
    }

    .fields-container {
      display: none;

      input:read-only {
        background-color: lightgrey;
      }
    }

    .flexstuff {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 5px;

      > input {
        margin-bottom: 25px;
      }

      #registry_name {
        width: 100%;
      }
      #birthday_name {
        width: 100%;
      }
      #celebration_name {
        width: 100%;
      }
      #registry_event_type {
        width: 100%;
      }
      #celebration_event_type {
        width: 100%;
      }
    }

    .date-container {
      > input {
        display: inline;
        width: 80%; // make this responsive
      }
    }

    .url-container {
      > input {
        display: inline;
        width: 65%; //make this responsive
      }
    }
  }

  .project-container {
    .input-group {
      float: left;
      width: 90%;
      @media (max-width: $break-medium) {
        width: 100%;
      }
    }

    // This should probably be site-wide
    select {
      padding: 5px;
    }
  }

  .preview-container {
    height: 200px;
    width: 500px;
    margin-bottom: 50px;
    @media (max-width: $break-medium) {
      width: 300px;
    }

    .preview-hero {
      height: 200px;

      .preview-text {
        top: 25%;

        .preview-name {
          font-family: 'Playfair Display', serif;
          font-weight: 400;
          font-style: italic;
          font-size: 3vw;
          margin-bottom: 10px;
        }
      }
    }
  }

  .column-container {
    display: flex;
    @media (max-width: $break-medium) {
      display: block;
    }
  }
}

.flex-field-1 {
  width: 95%;
  @media (max-width: $break-medium) {
    width: 100%;
  }
}

.flex-field-2 {
  width: 45%;
  @media (max-width: $break-medium) {
    width: 100%;
  }
}

.flex-field-3 {
  width: 30%;
  @media (max-width: $break-medium) {
    width: 100%;
  }
}