.registry-welcome {
  margin: 60px 0;

  .registry-icon {
    width: 5%;
    margin: 0 auto;
  }
}

.column-container {
  @media (min-width: $break-medium) {
    display: flex;
  }
  @media (max-width: $break-medium) {
    display: block;
  }

  .column-one {
    @media (min-width: $break-medium) {
      width: 45%;
    }
    @media (max-width: $break-medium) {
      width: 90%;
    }
    margin: 0 auto;

    > div {
      margin-bottom: 40px;
    }

    .story {
      p {
        margin-bottom: 10px;
      }
    }

    .about-this-project{
      .project-header {
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .about-this-partner {
      .partner-container {
        display: flex;
        justify-content: space-between;

        .partner-info {
          width: 60%;
        }

        .partner-image {
          width: 30%;
        }
      }
    }
  }

  .column-two {
    @media (min-width: $break-medium) {
      width: 40%;
    }
    @media (max-width: $break-medium) {
      width: 90%;
    }
    margin: 0 auto;

    > div {
      margin-bottom: 40px;
    }

    
  }

  .title {
    font-family: 'AvenirNextLTPro-Bold', Helvetica, Arial, sans-serif;
  }
}

#projectModal {

  .project-header {
    @media (min-width: $break-medium) {
      width: 60%;
    }
    @media (max-width: $break-medium) {
      width: 90%;
    }
  }

  .project-body {
    width: 80%;
  }

  .title {
    font-family: 'AvenirNextLTPro-Bold', Helvetica, Arial, sans-serif;
    &:after {
      content: '';
      display: block;
      margin: 10px auto 0 auto;
      max-width: 0;
      border-bottom: 5px solid $color-purple-deep;
      // include animation
      -webkit-animation: line 1.5s forwards;
    }
  }

  .partner-container {
    display: flex;
    justify-content: space-between;

    .partner-info {
      width: 60%;
    }

    .partner-image {
      width: 30%;
    }
  }

  .project-body {
    .project-photo {
      height: 300px;
      width: 80%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .project-info {
      p {
        font-weight: bold;
      }
    }
  }
}


.registry-info {
  @media (min-width: $break-medium) {
    display: flex;
  }
  @media (max-width: $break-medium) {
    display: block;
  }
  .registry-flex-column {
    @media (min-width: $break-medium) {
      width: 30%;
    }
    @media (max-width: $break-medium) {
      width: 90%;
    }
    margin: 0 auto;

    > div {
      margin-bottom: 40px;
    }
  }
  .registry-flex-column-solo {
    @media (min-width: $break-medium) {
      width: 50%;
    }
    @media (max-width: $break-medium) {
      width: 90%;
    }
    margin: 0 auto;

    > div {
      margin-bottom: 40px;
    }
  }
}

.goal {
  .goal-info {
    display: inline-block;

    .goal-heart {
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      img {
        background-image: image-url('heart-bg-sprite.png');
        background-repeat: no-repeat;
      }
    }

    .goal-statement {
      .goal-number {
        font-family: 'AvenirNextLTPro-Bold', Helvetica, Arial, sans-serif;
        color: $color-purple-deep;
      }
    }
  }
}

.project-list {
  text-align: center;
  display: flex;
  justify-content: space-around;
  @media (max-width: $break-medium) {
    display: block;
  }
  @media (max-width: $break-large) {
    font-size: 12px;
  }

  .title {
    display: inline-block
  }
  .project-container {
    cursor: pointer;

    .c-tiny-project__photo {
      border-radius: 5px;
    }
  }
  p {
    @include font-meta;
  }
}