.project-show {
  padding-top: 7em;
  padding-bottom: 3em;
  h4 .org_url:hover {
    font-weight: bold;
  }
  #project-photos {
    float: right;
  }
  #project-info {
    float: left;
    .project-content {
      padding: 0.5em 0 1.5em 0;
    }
  }
  .banner {
    padding-bottom: 4em;
    h3 {
      font-size: 2em;
      @media(max-width: 600px) { font-size: 1.5em;}
    }
    h4:first-of-type {
      padding-top: 1em;
    }
  }
  .img-container {
    height: 22em;
    margin-bottom: 3em;
    overflow: hidden;
    @media(max-width: 600px) { height: 15em;}
    @media(max-width: 380px) { height: 11em;}
    img {
      max-width: 100%;
    }
  }
}

@media all and( max-width: 641px ) {
  .project-show {
    div {
      #img-1 {
        text-align: center;
        img {
          max-height: 100%;
        }
      }
      #img-2, #img-3 {
        display: none;
      }
    }
  }
}