.projects {
  padding-top: 8em;
  div h2 {
    span {
      background: white;
      padding: 30px;
      text-align : center; 
    }
    &+* {
      border-top: solid 2px $quinary-color;
      padding-top: 28px;
      margin-top: -34px;
    }
  }
}

#js-projects-list {
  .project-glimpse {
    padding: 0 1.2em;
  }
  .region-btn {
    padding: 0.4em;
    margin: 0;
    border-radius: 0.4em;
    font-size: 1.2em;
  }
  .image-container img {
    border: 0.3em solid $tertiary-color;
  }
  h4 {
    font-size: 0.9em;
    color: $secondary-color;
    .org_url:hover {
      font-weight: bold;
    }
  }
  .organization {
    font-size: 1em;
    height: 2.5em;
    a {
      font-size: 1em;
    }
  }
  .project-header {
    h3 {
      padding-top: 1.2em;
      font-size: 0.85em;
      box-sizing: border-box;
      height: 6em;
    }
  }
  .actions {
    border: 2px solid $tertiary-color;
    border-top: none;
    margin-bottom: 1em;
    a {
      border-radius: 0.4em;
      font-size: 1.2em;
      @media(max-width: 780px) { font-size: 1em; }
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@media all and (max-width: 641px) {
  .projects div h2 { font-size: 1.2em; &+* {margin-top: -22px;}}
}

@media all and (max-width: 345px) {
  .projects div h2 { font-size: 1em; &+* {margin-top: -20px;}}
}

@media all and (max-width: 300px) {
  .projects div h2 { span { background: none; padding: 0;} &+* { border: none;}}
}