.test
  .registry-welcome
    .c-subhed
      .registry-icon
        %svg.mb{:preserveaspectratio => "xMinYMax meet", :viewbox => "0 0 512 512"}
          %use{"xlink:href" => "#confetti"}
      %h3.c-subhed__info
        Welcome
      - if @registry.registry_story
        .c-paragraph.ma
          %p.c-paragraph__text
            = @registry.registry_story
