<div class="test">
  <h2 class="mb--large">Order Confirmation</h2>
  <p>Hooray, <%= @order.first_name%> <%=@order.last_name%>! You just did something amazing.</p>
  <br>
  <p>Your gift is being processed and in just a moment you will receive a receipt and confirmation email.</p>
</div>
